---
http_interactions:
- request:
    method: get
    uri: https://dns.google/resolve?name=example.com&type=A
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"Status":0,"TC":false,"RD":true,"RA":true,"AD":true,"CD":false,"Question":[{"name":"example.com.","type":1}],"Answer":[{"name":"example.com.","type":1,"TTL":4506,"data":"93.184.216.34"}]}'
  recorded_at: Tue, 31 May 2022 08:48:49 GMT
- request:
    method: get
    uri: https://dns.google/resolve?name=example.com&type=AAAA
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"Status":0,"TC":false,"RD":true,"RA":true,"AD":true,"CD":false,"Question":[{"name":"example.com.","type":28}],"Answer":[{"name":"example.com.","type":28,"TTL":21039,"data":"2606:2800:220:1:248:1893:25c8:1946"}]}'
  recorded_at: Tue, 31 May 2022 08:48:49 GMT
- request:
    method: get
    uri: https://dns.google/resolve?name=example.com&type=CNAME
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"Status":0,"TC":false,"RD":true,"RA":true,"AD":true,"CD":false,"Question":[{"name":"example.com.","type":5}],"Authority":[{"name":"example.com.","type":6,"TTL":82,"data":"ns.icann.org.
        noc.dns.icann.org. 2022040434 7200 3600 1209600 3600"}]}'
  recorded_at: Tue, 31 May 2022 08:48:49 GMT
- request:
    method: get
    uri: https://dns.google/resolve?name=example.com&type=TXT
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"Status":0,"TC":false,"RD":true,"RA":true,"AD":true,"CD":false,"Question":[{"name":"example.com.","type":16}],"Answer":[{"name":"example.com.","type":16,"TTL":21600,"data":"v=spf1
        -all"},{"name":"example.com.","type":16,"TTL":21600,"data":"wgyf8z8cgvm2qmxpnbnldrcltvk4xqfn"}],"Comment":"Response
        from 2001:500:8f::53."}'
  recorded_at: Tue, 31 May 2022 08:48:49 GMT
- request:
    method: get
    uri: https://dns.google/resolve?name=example.com&type=NS
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"Status":0,"TC":false,"RD":true,"RA":true,"AD":true,"CD":false,"Question":[{"name":"example.com.","type":2}],"Answer":[{"name":"example.com.","type":2,"TTL":18248,"data":"a.iana-servers.net."},{"name":"example.com.","type":2,"TTL":18248,"data":"b.iana-servers.net."}]}'
  recorded_at: Tue, 31 May 2022 08:48:49 GMT
recorded_with: VCR 6.1.0
