---
http_interactions:
  - request:
      method: get
      uri: https://fofa.info/api/v1/search/all?email=<FOFA_EMAIL>&key=<FOFA_API_KEY>&page=1&qbase64=aXA9IjEuMC4wLjEi&size=10000
      body:
        encoding: ASCII-8BIT
        string: ""
      headers:
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json
        Trace-Id:
          - 5c84c3d2f7b9a7e3ae1dfec146805131
      body:
        encoding: UTF-8
        string: '{"error":false,"consumed_fpoint":0,"required_fpoints":0,"size":1764,"page":1,"mode":"extended","query":"ip=\"1.0.0.1\"","results":[["1.0.0.1:8080","1.0.0.1","8080"],["https://hexo.revincx.icu","1.0.0.1","443"],["hexo.revincx.icu","1.0.0.1","80"],["1.0.0.1:53","1.0.0.1","53"],["1.0.0.1:8443","1.0.0.1","8443"],["https://www.gov.hm","1.0.0.1","443"],["pinglun.codeqihan.com","1.0.0.1","80"],["https://pinglun.codeqihan.com","1.0.0.1","443"],["1.0.0.1:2086","1.0.0.1","2086"],["https://1.0.0.1","1.0.0.1","443"],["1.0.0.1:2096","1.0.0.1","2096"],["www.10zb.net","1.0.0.1","80"],["v2.javasnoop.fun","1.0.0.1","80"],["https://v2.javas[...]
