---
http_interactions:
- request:
    method: get
    uri: https://www.virustotal.com/vtapi/v2/ip-address/report?apikey=<VT_API_KEY>&ip=45.83.140.140
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Cloud-Trace-Context:
      - f5756deabfc93aad6209a8ce9e5017c3
    body:
      encoding: UTF-8
      string: '{"undetected_urls": [["http://45.83.140.140:81/", "6b4edc6255d05575d94c44a94b64567f3e2f16ef822ffcac974e999bfcc3ffc3",
        0, 70, "2019-07-19 07:14:03"]], "undetected_downloaded_samples": [{"date":
        "2019-04-25 05:31:21", "positives": 0, "total": 70, "sha256": "972022c92c51aba47b80eb3f4e8e4202ba50244fb400e69ce0bd2370e30b907e"}],
        "whois": "NetRange: 45.80.0.0 - 45.95.255.255\nCIDR: 45.80.0.0/12\nNetName:
        RIPE\nNetHandle: NET-45-80-0-0-1\nParent: NET45 (NET-45-0-0-0-0)\nNetType:
        Early Registrations, Transferred to RIPE NCC\nOriginAS: \nOrganization: RIPE
        Network Coordination Centre (RIPE)\nRegDate: 2014-09-05\nUpdated: 2014-09-05\nRef:
        https://rdap.arin.net/registry/ip/45.80.0.0\nResourceLink: https://apps.db.ripe.net/search/query.html\nResourceLink:
        whois.ripe.net\nOrgName: RIPE Network Coordination Centre\nOrgId: RIPE\nAddress:
        P.O. Box 10096\nCity: Amsterdam\nStateProv: \nPostalCode: 1001EB\nCountry:
        NL\nRegDate: \nUpdated: 2013-07-29\nRef: https://rdap.arin.net/registry/entity/RIPE\nReferralServer:
        whois://whois.ripe.net\nResourceLink: https://apps.db.ripe.net/search/query.html\nOrgTechHandle:
   [...]
