---
http_interactions:
- request:
    method: get
    uri: https://www.virustotal.com/api/v3/ip_addresses/45.83.140.140/resolutions
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Apikey:
      - "<VIRUSTOTAL_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Cloud-Trace-Context:
      - 553e1f245e75808ef1d41fee4bf88d7e
    body:
      encoding: UTF-8
      string: |-
        {
            "data": [
                {
                    "attributes": {
                        "date": 1566265526,
                        "host_name": "jppost-ayu.top",
                        "ip_address": "45.83.140.140",
                        "resolver": "VirusTotal"
                    },
                    "id": "45.83.140.140jppost-ayu.top",
                    "links": {
                        "self": "https://www.virustotal.com/api/v3/resolutions/45.83.140.140jppost-ayu.top"
                    },
                    "type": "resolution"
                },
                {
                    "attributes": {
                        "date": 1565939215,
                        "host_name": "jppost-ze.top",
                        "ip_address": "45.83.140.140",
                        "resolver": "VirusTotal"
                    },
                    "id": "45.83.140.140jppost-ze.top",
                    "links": {
                        "self": "https://www.virustotal.com/api/v3/resolutions/45.83.140.140jppost-ze[...]
