---
http_interactions:
  - request:
      method: get
      uri: https://search.censys.io/api/v2/hosts/search?q=ip:1.1.1.1
      body:
        encoding: US-ASCII
        string: ""
      headers:
        Authorization:
          - "<CENSYS_AUTH>"
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json
      body:
        encoding: ASCII-8BIT
        string:
          '{"code": 200, "status": "OK", "result": {"query": "ip:1.1.1.1", "total":
          1, "duration": 53, "hits": [{"operating_system": {"product": "linux", "source":
          "OSI_TRANSPORT_LAYER", "uniform_resource_identifier": "cpe:2.3:o:*:linux:*:*:*:*:*:*:*:*",
          "part": "o", "component_uniform_resource_identifiers": [], "other": []}, "ip":
          "1.1.1.1", "services": [{"port": 53, "extended_service_name": "DNS", "transport_protocol":
          "UDP", "service_name": "DNS"}, {"service_name": "HTTP", "transport_protocol":
          "TCP", "extended_service_name": "HTTP", "port": 80}, {"service_name": "UNKNOWN",
          "extended_service_name": "UNKNOWN", "port": 443, "transport_protocol": "QUIC"},
          {"service_name": "HTTP", "transport_protocol": "TCP", "extended_service_name":
          "HTTPS", "port": 443, "certificate": "98ce6111a81057e7d8d4fdf470278b2fb77781c4bb79bfb31fd31047c388d5a3"},
          {"service_name": "UNKNOWN", "certificate": "98ce6111a81057e7d8d4fdf470278b2fb77781c4bb79bfb31fd31047c388d5a3",
          "port": 853, "extended_service_name": "UNKNOWN", "transport_protocol": "TCP"},
          {"extended_service_name": "HTTP", "port": 2052, "transport_protocol": "TCP",
          "service_name": "HTTP"}, {"extended_service_name": "UNKNOWN", "service_name":
          "UNKNOWN", "transport_protocol": "T[...]
