---
http_interactions:
- request:
    method: get
    uri: https://search.censys.io/api/v2/hosts/search?q=ip:1.1.1.1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<CENSYS_AUTH>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"code": 200, "status": "OK", "result": {"query": "ip:1.1.1.1", "total":
        1, "duration": 44, "hits": [{"ip": "1.1.1.1", "services": [{"port": 53, "service_name":
        "DNS", "transport_protocol": "UDP", "extended_service_name": "DNS"}, {"port":
        80, "service_name": "HTTP", "extended_service_name": "HTTP", "transport_protocol":
        "TCP"}, {"port": 443, "service_name": "UNKNOWN", "transport_protocol": "QUIC",
        "extended_service_name": "UNKNOWN"}, {"port": 443, "service_name": "HTTP",
        "certificate": "98ce6111a81057e7d8d4fdf470278b2fb77781c4bb79bfb31fd31047c388d5a3",
        "extended_service_name": "HTTPS", "transport_protocol": "TCP"}, {"port": 853,
        "service_name": "UNKNOWN", "certificate": "98ce6111a81057e7d8d4fdf470278b2fb77781c4bb79bfb31fd31047c388d5a3",
        "extended_service_name": "UNKNOWN", "transport_protocol": "TCP"}, {"port":
        2052, "service_name": "HTTP", "extended_service_name": "HTTP", "transport_protocol":
        "TCP"}, {"port": 2053, "service_name": "UNK[...]
