---
http_interactions:
- request:
    method: get
    uri: https://search.censys.io/api/v2/hosts/search?q=ip:1.1.1.1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<CENSYS_AUTH>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"code": 200, "status": "OK", "result": {"query": "ip:1.1.1.1", "total":
        1, "hits": [{"ip": "1.1.1.1", "services": [{"port": 53, "service_name": "DNS",
        "transport_protocol": "UDP"}, {"port": 80, "service_name": "HTTP", "transport_protocol":
        "TCP"}, {"port": 443, "service_name": "HTTP", "transport_protocol": "TCP"}],
        "location": {"continent": "Oceania", "country": "Australia", "country_code":
        "AU", "timezone": "Australia/Sydney", "coordinates": {"latitude": -33.494,
        "longitude": 143.2104}, "registered_country": "Australia", "registered_country_code":
        "AU"}, "autonomous_system": {"asn": 13335, "description": "CLOUDFLARENET",
        "bgp_prefix": "1.1.1.0/24", "name": "CLOUDFLARENET", "country_code": "US"}}],
        "links": {"next": "", "prev": ""}}}'
  recorded_at: Sat, 12 Jun 2021 04:54:09 GMT
recorded_with: VCR 6.0.0
