---
http_interactions:
- request:
    method: get
    uri: https://urlscan.io/api/v1/search/?q=page.domain:example.com%20AND%20date:%5B2023-01-01%20TO%202023-02-01%5D
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Api-Key:
      - "<URLSCAN_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Rate-Limit-Scope:
      - team
      X-Rate-Limit-Action:
      - search
      X-Rate-Limit-Window:
      - hour
      X-Rate-Limit-Limit:
      - '100000'
      X-Rate-Limit-Remaining:
      - '99952'
      X-Rate-Limit-Reset:
      - '2023-09-09T06:00:00.000Z'
      X-Rate-Limit-Reset-After:
      - '566'
      Etag:
      - W/"3f90b-Z8Yxsa7YHwkemCgVE0nVJzrjZi8"
      X-Proxy-Cache:
      - MISS
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "results": [
            {
              "verdicts": {
                "score": 0,
                "malicious": false,
                "urlscan": {
                  "malicious": false
                },
                "hasVerdicts": false
              },
              "submitter": {
                "country": "us"
              },
              "dom": {
                "size": 1218,
                "hash": "9b3243c4f1fd88b9e41acf7beb94a54ffe30a2a3f462ebc7dc78e8db251396bc"
              },
              "frames": {
                "length": 1
              },
              "canonical": {
                "task": {
                  "url": "proquwy.cloud"
                },
                "page": {
                  "url": "example.com"
                }
              },
              "task": {
                "visibility": "public",
                "method": "manual",
                "domain": "proquwy.cloud",
                "apexDomain": "proquwy.cloud",
                "time": "2023-02-01T23:49:29.142Z",
                "uuid": "dcfa5d74-e058-4bfa-8308-1ed94aeb8ff6",
                "url": "https://proquwy.cloud/?oprx"
              },
              "stats": {
                "uniqIPs": 2,
                "uniqCountries": 1,
                "dataLength": 1672,
                "encodedDataLength": 1159,
                "requests": 2
              },
              "scanner": {
                "country": "de"
              },
              "links": {
                "length": 1
              },
              "page": {
                "country": "US",
                "server": "ECS (nyb/1D13)",
                "redirected": "off-domain",
                "ip": "2606:2800:220:1:248:1893:25c8:1946",
                "mimeType": "text/html",
                "title": "Example Domain",
                "url": "https://example.com/",
                "tlsValidDays": 396,
                "tlsAgeDays": 19,
                "tlsValidFrom": "2023-01-13T00:00:00.000Z",
                "domain": "example.com",
                "umbrellaRank": 11157,
                "apexDomain": "example.com",
                "asnname": "EDGECAST, US",
                "asn": "AS15133",
                "tlsIssuer": "DigiCert TLS RSA SHA256 2020 CA1",
                "status": "200"
              },
              "text": {
                "size": 672,
                "hash": "1f4bbca934e203724288d9a780bd53ae5096f916771965025e69d55711d97eb3"
              },
              "_id": "dcfa5d74-e058-4bfa-8308-1ed94aeb8ff6",
              "_score": null,
              "sort": [
                1675295369142,
                "dcfa5d74-e058-4bfa-8308-1ed94aeb8ff6"
              ],
              "result": "https://urlscan.io/api/v1/result/dcfa5d74-e058-4bfa-8308-1ed94aeb8ff6/",
              "screenshot": "https://urlscan.io/screenshots/dcfa5d74-e058-4bfa-8308-1ed94aeb8ff6.png"
            },
            {
              "verdicts": {
                "score": 0,
                "malicious": false,
                "urlscan": {
                  "malicious": false
                },
                "hasVerdicts": false
              },
              "submitter": {
                "country": "us"
              },
              "dom": {
                "size": 1218,
                "hash": "9b3243c4f[...]
