---
http_interactions:
- request:
    method: get
    uri: https://crt.sh/?exclude=expired&identity=example.com&output=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"issuer_ca_id":185756,"issuer_name":"C=US, O=DigiCert Inc, CN=DigiCert
        TLS RSA SHA256 2020 CA1","common_name":"www.example.org","name_value":"example.com\nwww.example.com","id":6359075900,"entry_timestamp":"2022-03-17T10:02:40.41","not_before":"2022-03-14T00:00:00","not_after":"2023-03-14T23:59:59","serial_number":"0faa63109307bc3d414892640ccd4d9a"},{"issuer_ca_id":185756,"issuer_name":"C=US,
        O=DigiCert Inc, CN=DigiCert TLS RSA SHA256 2020 CA1","common_name":"www.example.org","name_value":"example.com\nwww.example.com","id":6342480680,"entry_timestamp":"2022-03-14T22:48:46.166","not_before":"2022-03-14T00:00:00","not_after":"2023-03-14T23:59:59","serial_number":"0faa63109307bc3d414892640ccd4d9a"},{"issuer_ca_id":185756,"issuer_name":"C=US,
        O=DigiCert Inc, CN=DigiCert TLS RSA SHA256 2020 CA1","common_name":"www.example.org","name_value":"example.com\nwww.example.com","id":5813209289,"entry_timestamp":"2021-12-17T11:32:05.977","not_before":"2021-12-10T00:00:00","not_after":"2022-12-09T23:59:59","serial_number":"025216e1c4998e2632aa5d1da985b43c"},{"issuer_ca_id":185756,"issuer_name":"C=US,
        O=DigiCert Inc, CN=DigiCert TLS RSA SHA256 2020 CA1","common_name":"www.example.org","name_value":"example.com\nwww.example.com","id":5771467708,"entry_timestamp":"2021-12-10T05:18:05.116","not_before":"2021-12-10T00:00:00","not_after":"2022-12-09T23:59:59","serial_number":"025216e1c4998e2632aa5d1da985b43c"}]'
  recorded_at: Tue, 31 May 2022 08:49:45 GMT
- request:
    method: get
    uri: https://dns.google/resolve?name=www.example.com&type=A
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"Status":0,"TC":false,"RD":true,"RA":true,"AD":true,"CD":false,"Question":[{"name":"www.example.com.","type":1}],"Answer":[{"name":"www.example.com.","type":1,"TTL":20015,"data":"93.184.216.34"}]}'
  recorded_at: Tue, 31 May 2022 08:49:45 GMT
- request:
    method: get
    uri: https://dns.google/resolve?name=www.example.com&type=AAAA
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"Status":0,"TC":false,"RD":true,"RA":true,"AD":true,"CD":false,"Question":[{"name":"www.example.com.","type":28}],"Answer":[{"name":"www.example.com.","type":28,"TTL":15617,"data":"2606:2800:220:1:248:1893:25c8:1946"}]}'
  recorded_at: Tue, 31 May 2022 08:49:45 GMT
- request:
    method: get
    uri: https://dns.google/resolve?name=www.example.com&type=CNAME
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"Status":0,"TC":false,"RD":true,"RA":true,"AD":true,"CD":false,"Question":[{"name":"www.example.com.","type":5}],"Authority":[{"name":"example.com.","type":6,"TTL":937,"data":"ns.icann.org.
        noc.dns.icann.org. 2022040434 7200 3600 1209600 3600"}]}'
  recorded_at: Tue, 31 May 2022 08:49:45 GMT
- request:
    method: get
    uri: https://dns.google/resolve?name=www.example.com&type=TXT
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"Status":0,"TC":false,"RD":true,"RA":true,"AD":true,"CD":false,"Question":[{"name":"www.example.com.","type":16}],"Answer":[{"name":"www.example.com.","type":16,"TTL":21600,"data":"v=spf1
        -all"},{"name":"www.example.com.","type":16,"TTL":21600,"data":"wgyf8z8cgvm2qmxpnbnldrcltvk4xqfn"}],"Comment":"Response
        from 2001:500:8f::53."}'
  recorded_at: Tue, 31 May 2022 08:49:45 GMT
- request:
    method: get
    uri: https://dns.google/resolve?name=www.example.com&type=NS
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"Status":0,"TC":false,"RD":true,"RA":true,"AD":true,"CD":false,"Question":[{"name":"www.example.com.","type":2}],"Authority":[{"name":"example.com.","type":6,"TTL":1021,"data":"ns.icann.org.
        noc.dns.icann.org. 2022040434 7200 3600 1209600 3600"}]}'
  recorded_at: Tue, 31 May 2022 08:49:46 GMT
- request:
    method: get
    uri: https://dns.google/resolve?name=example.com&type=A
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"Status":0,"TC":false,"RD":true,"RA":true,"AD":true,"CD":false,"Question":[{"name":"example.com.","type":1}],"Answer":[{"name":"example.com.","type":1,"TTL":17520,"data":"93.184.216.34"}]}'
  recorded_at: Tue, 31 May 2022 08:49:47 GMT
- request:
    method: get
    uri: https://dns.google/resolve?name=example.com&type=AAAA
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"Status":0,"TC":false,"RD":true,"RA":true,"AD":true,"CD":false,"Question":[{"name":"example.com.","type":28}],"Answer":[{"name":"example.com.","type":28,"TTL":18804,"data":"2606:2800:220:1:248:1893:25c8:1946"}]}'
  recorded_at: Tue, 31 May 2022 08:49:47 GMT
- request:
    method: get
    uri: https://dns.google/resolve?name=example.com&type=CNAME
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"Status":0,"TC":false,"RD":true,"RA":true,"AD":true,"CD":false,"Question":[{"name":"example.com.","type":5}],"Authority":[{"name":"example.com.","type":6,"TTL":944,"data":"ns.icann.org.
        noc.dns.icann.org. 2022040434 7200 3600 1209600 3600"}]}'
  recorded_at: Tue, 31 May 2022 08:49:47 GMT
- request:
    method: get
    uri: https://dns.google/resolve?name=example.com&type=TXT
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"Status":0,"TC":false,"RD":true,"RA":true,"AD":true,"CD":false,"Question":[{"name":"example.com.","type":16}],"Answer":[{"name":"example.com.","type":16,"TTL":20590,"data":"v=spf1
        -all"},{"name":"example.com.","type":16,"TTL":20590,"data":"wgyf8z8cgvm2qmxpnbnldrcltvk4xqfn"}]}'
  recorded_at: Tue, 31 May 2022 08:49:47 GMT
- request:
    method: get
    uri: https://dns.google/resolve?name=example.com&type=NS
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"Status":0,"TC":false,"RD":true,"RA":true,"AD":true,"CD":false,"Question":[{"name":"example.com.","type":2}],"Answer":[{"name":"example.com.","type":2,"TTL":7496,"data":"a.iana-servers.net."},{"name":"example.com.","type":2,"TTL":7496,"data":"b.iana-servers.net."}]}'
  recorded_at: Tue, 31 May 2022 08:49:47 GMT
recorded_with: VCR 6.1.0
