---
http_interactions:
- request:
    method: get
    uri: https://www.virustotal.com/api/v3/intelligence/search?query=entity:domain%20domain:ninoseki
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Apikey:
      - "<VIRUSTOTAL_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Cloud-Trace-Context:
      - 201ab2a5e54b4c95768b1f3e758d1ef6
    body:
      encoding: UTF-8
      string: |-
        {
            "meta": {
                "total_hits": 4,
                "allowed_orders": [
                    "creation_date",
                    "last_modification_date",
                    "last_update_date",
                    "positives"
                ],
                "days_back": 90
            },
            "data": [
                {
                    "attributes": {
                        "last_dns_records": [
                            {
                                "type": "A",
                                "value": "76.76.21.21",
                                "ttl": 60
                            }
                        ],
                        "jarm": "15d3fd16d29d29d00042d43d0000009e5d3a316e7cccd6bbfaf756c222effa",
                        "whois": "Admin City: REDACTED FOR PRIVACY\nAdmin Country: REDACTED FOR PRIVACY\nAdmin Organization: REDACTED FOR PRIVACY\nAdmin Postal Code: REDACTED FOR PRIVACY\nAdmin State/Province: REDACTED FOR PRIVACY\nCreation Date: 2020-01-28T03:03:04Z\nDNSSEC: unsigned\nDomain Name: vercel.app\nDomain Status: clientTransferProhibited https://icann.org/epp#clientTransferProhibited\nDomain Status: clientUpdateProhibited https://icann.org/epp#clientUpdateProhibited\nName Server: ns1.vercel-dns.com\nName Server: ns[...]
