---
http_interactions:
- request:
    method: get
    uri: https://www.virustotal.com/api/v3/intelligence/search?query=entity:domain%20domain:ninoseki
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Apikey:
      - "<VIRUSTOTAL_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Cloud-Trace-Context:
      - 9c51c5e1d52e27e9042a545294fd10fb
    body:
      encoding: UTF-8
      string: |-
        {
            "meta": {
                "total_hits": 8,
                "allowed_orders": [
                    "creation_date",
                    "last_modification_date",
                    "last_update_date",
                    "positives"
                ],
                "days_back": 365
            },
            "data": [
                {
                    "attributes": {
                        "last_dns_records": [
                            {
                                "flag": 0,
                                "tag": "issue",
                                "type": "CAA",
                                "value": "letsencrypt.org",
                                "ttl": 3600
                            },
                            {
                                "flag": 0,
                                "tag": "issuewild",
                                "type": "CAA",
                                "value": "digicert.com",
                                "ttl": 3600
                            },
                            {
                                "type": "A",
                                "value": "185.199.111.153",
                        [...]
