---
http_interactions:
- request:
    method: get
    uri: https://pulsedive.com/api/info.php?indicator=1.1.1.1&key=<PULSEDIVE_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"iid":100939,"type":"ip","indicator":"1.1.1.1","risk":"none","risk_recommended":"none","manualrisk":0,"retired":"No
        recent activity","stamp_added":"2017-10-18 02:34:59","stamp_updated":"2019-11-15
        23:40:28","stamp_seen":"2019-11-15 23:40:28","stamp_probed":"2018-12-11 19:24:24","stamp_retired":null,"recent":0,"riskfactors":[{"rfid":50,"description":"hosted
        on common ISP","risk":"none"},{"rfid":62,"description":"linked to top 100k
        domain","risk":"none"},{"rfid":61,"description":"linked to top 10k domain","risk":"none"},{"rfid":1,"description":"returns
        PTR record","risk":"none"}],"comments":[{"cid":20103,"uid":1744,"username":"milwizzle","title":"GRU
        Officer","comment":"These are victim IP addresses.","stamp_added":"2018-12-11
        19:24:14","stamp_updated":"2018-12-11 19:24:14"},{"cid":7636,"uid":834,"username":"zerodot1","title":"IndependentSecurityResearcher","comment":"1.1.1.1
        is definitely not a phishing page\/Ip.\nThis is clearly a false positive.","stamp_added":"2018-07-12
        19:33:43","stamp_updated":"2018-07-12 19:33:43"}],"attributes":{"hosttype":["Name
        Server"],"port":["443","80"],"protocol":["HTTP","HTTPS"],"technology":["CloudFlare","Google
        Font API"]},"properties":{"dns":{"PTR":"one.one.one.one"},"geo":{"address":["6
        Cordelia St","Australia","PO Box 3646","South Brisbane, QLD 4101"],"asn":"AS13335","country":"Australia","countrycode":"AU","isp":"Cloudflare,
        Inc.","lat":"-33.494","long":"143.2104","org":["Cloudflare, Inc.","ORG-ARAD1-AP"]},"http":{"Cache-Control":"max-age=600","CF-RAY":"47fac0bc8a501425-LAX","Client-Response-Num":"1","Client-Transfer-Encoding":"chunked","Connection":"close","Content-Type":"text\/html","Expect-CT":"max-age=604800,
        report-uri=\"https:\/\/report-uri.cloudflare.com\/cdn-cgi\/beacon\/expect-ct\"","Last-Modified":"Thu,
        15 Nov 2018 02:54:12 GMT","Server":"cloudflare","Strict-Transport-Security":"max-age=31536000;
        includeSubDomains; preload","X-Content-Type-Options":"nosniff"},"meta":{"author":"1.1.1.1","description":"\u00e2\u009c\u008c\u00ef\u00b8\u008f\u00e2\u009c\u008c\u00ef\u00b8\u008f
        Browse a faster, more private internet.","generator":"1.1.1.1","og:description":"\u00e2\u009c\u008c\u00ef\u00b8\u008f\u00e2\u009c\u008c\u00ef\u00b8\u008f
        Browse a faster, more private internet.","og:image":"https:\/\/1.1.1.1\/media\/card-v2.png","og:title":"1.1.1.1
        \u00e2\u0080\u0094 the Internet\u00e2\u0080\u0099s Fastest, Privacy-First
        DNS Resolver","og:url":"https:\/\/1.1.1.1","twitter:card":"summary","twitter:description":"\u00e2\u009c\u008c\u00ef\u00b8\u008f\u00e2\u009c\u008c\u00ef\u00b8\u008f
        Browse a faster, more private internet.","twitter:title":"1.1.1.1 \u00e2\u0080\u0094
        the Internet\u00e2\u0080\u0099s Fastest, Privacy-First DNS Resolver","viewport":"initial-scale=1,
        maximum-scale=1, user-scalable=no, width=device-width","X-UA-Compatible":"IE=edge,
        chrome=1"},"ssl":{"cipher":"ECDHE-ECDSA-AES128-GCM-SHA256","domain":"cloudflare-dns.com","issuer":"\/C=US\/O=DigiCert
        Inc\/CN=DigiCert ECC Secure Server CA","subject":"\/C=US\/ST=CA\/L=San Francisco\/O=Cloudflare,
        Inc.\/CN=*.cloudflare-dns.com"},"whois":{"++abuse":"abuse@apnic.net","++email":["abuse@apnic.net","helpdesk@apnic.net","research@apnic.net"],"++phone":["+61-7-38583100","+61-7-3858-3188"],"++registrant":["AH256-AP","AR302-AP"],"++updated":"2018-04-04
        00:00:00","abuse-mailbox":"abuse@apnic.net","address":["South Brisbane, QLD
        4101","Australia","6 Cordelia St"],"Address":"PO Box 3646","admin-c":["AH256-AP","AR302-AP"],"auth":"mnt-by:
        MAINT-AU-APNIC-GM85-AP","Country":"AU","descr":["Routed globally by AS13335\/Cloudflare","APNIC
        and Cloudflare DNS Resolver project","APNIC Research and Development","Research
        prefix for APNIC Labs"],"e-mail":["abuse@apnic.net","helpdesk@apnic.net","research@apnic.net"],"fax-no":["+61-7-38583199","+61-7-3858-3199"],"inetnum":"1.1.1.0
        - 1.1.1.255","irt":"IRT-APNICRANDNET-AU","last-modified":["2018-03-30T01:51:28Z","2018-04-04T04:26:04Z","2011-09-22T03:53:02Z","2018-03-16T16:58:06Z","2017-10-11T01:28:39Z"],"mnt-by":["MAINT-AU-APNIC-GM85-AP","MAINT-APNIC-AP","APNIC-HM"],"mnt-irt":"IRT-APNICRANDNET-AU","mnt-ref":"APNIC-HM","mnt-routes":"MAINT-AU-APNIC-GM85-AP","netname":"APNIC-LABS","nic-hdl":"AR302-AP","org":"ORG-ARAD1-AP","org-name":"APNIC
        Research and Development","organisation":"ORG-ARAD1-AP","origin":"AS13335","phone":["+61-7-3858-3188","+61-7-38583100"],"role":"APNIC
        RESEARCH","route":"1.1.1.0\/24","source":"APNIC","status":"ASSIGNED PORTABLE","tech-c":["AH256-AP","AR302-AP"]}},"threats":[{"tid":305,"name":"LDAP
        DDoS","category":"attack","risk":"unknown","stamp_linked":"2018-12-11 19:24:14"},{"tid":67,"name":"Phishing","category":"phishing","risk":"medium","stamp_linked":"2018-02-21
        01:52:08"}],"feeds":[{"fid":11,"name":"Bad IPs","category":"attack","organization":"badIPs","pricing":"free","stamp_linked":"2018-07-15
        22:11:56"}],"umbrella_rank":1892,"umbrella_domain":"dellsupportcenter.com"}'
  recorded_at: Sun, 17 Nov 2019 00:54:50 GMT
- request:
    method: get
    uri: https://pulsedive.com/api/info.php?get=properties&iid=100939&key=<PULSEDIVE_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"dns":[{"pid":18744148,"stamp_seen":"2019-11-15 23:40:28","name":"PTR","value":"one.one.one.one","latest":1},{"pid":14684500,"stamp_seen":"2018-08-19
        22:37:46","name":"PTR","value":"1dot1dot1dot1.cloudflare-dns.com","latest":0}],"geo":[{"pid":35498982,"stamp_seen":"2019-11-15
        23:40:28","name":"address","value":"Australia","latest":1},{"pid":21753344,"stamp_seen":"2019-11-15
        23:40:28","name":"address","value":"PO Box 3646","latest":1},{"pid":35577771,"stamp_seen":"2019-11-15
        23:40:28","name":"address","value":"South Brisbane, QLD 4101","latest":1},{"pid":13115953,"stam[...]
