---
http_interactions:
- request:
    method: get
    uri: https://dns.google/resolve?name=example.com&type=A
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"Status":0,"TC":false,"RD":true,"RA":true,"AD":true,"CD":false,"Question":[{"name":"example.com.","type":1}],"Answer":[{"name":"example.com.","type":1,"TTL":3792,"data":"93.184.216.34"}]}'
  recorded_at: Tue, 24 Oct 2023 12:15:32 GMT
- request:
    method: get
    uri: https://dns.google/resolve?name=example.com&type=AAAA
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"Status":0,"TC":false,"RD":true,"RA":true,"AD":true,"CD":false,"Question":[{"name":"example.com.","type":28}],"Answer":[{"name":"example.com.","type":28,"TTL":7585,"data":"2606:2800:220:1:248:1893:25c8:1946"}]}'
  recorded_at: Tue, 24 Oct 2023 12:15:33 GMT
- request:
    method: get
    uri: https://dns.google/resolve?name=example.com&type=CNAME
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"Status":0,"TC":false,"RD":true,"RA":true,"AD":true,"CD":false,"Question":[{"name":"example.com.","type":5}],"Authority":[{"name":"example.com.","type":6,"TTL":1800,"data":"ns.icann.org.
        noc.dns.icann.org. 2022091354 7200 3600 1209600 3600"}],"Comment":"Response
        from 199.43.133.53."}'
  recorded_at: Tue, 24 Oct 2023 12:15:33 GMT
- request:
    method: get
    uri: https://dns.google/resolve?name=example.com&type=TXT
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"Status":0,"TC":false,"RD":true,"RA":true,"AD":true,"CD":false,"Question":[{"name":"example.com.","type":16}],"Answer":[{"name":"example.com.","type":16,"TTL":15472,"data":"v=spf1
        -all"},{"name":"example.com.","type":16,"TTL":15472,"data":"wgyf8z8cgvm2qmxpnbnldrcltvk4xqfn"}]}'
  recorded_at: Tue, 24 Oct 2023 12:15:33 GMT
- request:
    method: get
    uri: https://dns.google/resolve?name=example.com&type=NS
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"Status":0,"TC":false,"RD":true,"RA":true,"AD":true,"CD":false,"Question":[{"name":"example.com.","type":2}],"Answer":[{"name":"example.com.","type":2,"TTL":6860,"data":"a.iana-servers.net."},{"name":"example.com.","type":2,"TTL":6860,"data":"b.iana-servers.net."}]}'
  recorded_at: Tue, 24 Oct 2023 12:15:33 GMT
recorded_with: VCR 6.2.0
