---
http_interactions:
- request:
    method: get
    uri: https://ipinfo.io/1.1.1.1/json
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      Authorization:
      - Bearer <IPINFO_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
          "ip": "1.1.1.1",
          "hostname": "one.one.one.one",
          "anycast": true,
          "city": "Los Angeles",
          "region": "California",
          "country": "US",
          "loc": "34.0522,-118.2437",
          "postal": "90076",
          "timezone": "America/Los_Angeles",
          "asn": {
            "asn": "AS13335",
            "name": "Cloudflare, Inc.",
            "domain": "cloudflare.com",
            "route": "1.1.1.0/24",
            "type": "hosting"
          },
          "company": {
            "name": "APNIC and Cloudflare DNS Resolver project",
            "domain": "cloudflare.com",
            "type": "hosting"
          },
          "domains": {
            "ip": "1.1.1.1",
            "total": 21985,
            "domains": [
              "6080dy2.com",
              "xmoon.best",
              "yuucn.com",
              "ccbenz.com",
              "happynothings031.xyz"
            ]
          }
        }
  recorded_at: Sun, 29 Oct 2023 01:00:51 GMT
recorded_with: VCR 6.2.0
