---
http_interactions:
- request:
    method: get
    uri: https://ipinfo.io/1.1.1.1/json
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
          "ip": "1.1.1.1",
          "hostname": "one.one.one.one",
          "anycast": true,
          "city": "Miami",
          "region": "Florida",
          "country": "US",
          "loc": "25.7867,-80.1800",
          "org": "AS13335 Cloudflare, Inc.",
          "postal": "33132",
          "timezone": "America/New_York",
          "readme": "https://ipinfo.io/missingauth"
        }
  recorded_at: Thu, 02 Sep 2021 21:58:12 GMT
recorded_with: VCR 6.0.0
