---
http_interactions:
- request:
    method: get
    uri: https://crt.sh/?exclude=expired&identity=example.com&output=json
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"issuer_ca_id":185756,"issuer_name":"C=US, O=DigiCert Inc, CN=DigiCert
        TLS RSA SHA256 2020 CA1","common_name":"www.example.org","name_value":"example.com\nwww.example.com","id":8913351873,"entry_timestamp":"2023-03-17T16:26:38.016","not_before":"2023-01-13T00:00:00","not_after":"2024-02-13T23:59:59","serial_number":"0c1fcb184518c7e3866741236d6b73f1","result_count":2},{"issuer_ca_id":185756,"issuer_name":"C=US,
        O=DigiCert Inc, CN=DigiCert TLS RSA SHA256 2020 CA1","common_name":"www.example.org","name_value":"example.com\nwww.example.com","id":8396709327,"entry_timestamp":"2023-01-13T13:18:21.987","not_before":"2023-01-13T00:00:00","not_after":"2024-02-13T23:59:59","serial_number":"0c1fcb184518c7e3866741236d6b73f1","result_count":2},{"issuer_ca_id":272971,"issuer_name":"C=GB,
        ST=Cymru, O=AS207960 Cyfyngedig, OU=AS207960 Department of Random Numbers,
        CN=AS207960 Test CA","common_name":"AS207960 Test Intermediate - example.com","name_value":"AS207960
        Test Intermediate - example.com","id":10570508844,"entry_timestamp":null,"not_before":"2021-08-31T15:55:23","not_after":"2031-08-29T15:55:23","serial_number":"1000","result_count":1},{"issuer_ca_id":-1,"issuer_name":"Issuer
        Not Found","common_name":"example.com","name_value":"example.com\nuser@example.com","id":8506962125,"entry_timestamp":null,"not_before":"2023-01-27T01:21:18","not_after":"2033-01-24T01:21:18","serial_number":"1ac1e693c87d36563a92ca145c87bbc26fd49f4c","result_count":3}]'
  recorded_at: Mon, 01 Jan 2024 01:33:00 GMT
- request:
    method: get
    uri: https://dns.google/resolve?name=example.com&type=ALL
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"Status":0,"TC":false,"RD":true,"RA":true,"AD":true,"CD":false,"Question":[{"name":"example.com.","type":255}],"Answer":[{"name":"example.com.","type":1,"TTL":5530,"data":"93.184.216.34"},{"name":"example.com.","type":46,"TTL":5530,"data":"a
        13 2 86400 1704957683 1703161351 21021 example.com. rmXjBBcCcGSu349w9aomUgK3OV68oqW5bSv9/E0ZaZPjJ9+NNyfH0C+qVDYZLRovwUxJAXhdbRE/1T9oKIghow=="}]}'
  recorded_at: Mon, 01 Jan 2024 01:33:01 GMT
- request:
    method: get
    uri: https://dns.google/resolve?name=www.example.com&type=ALL
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"Status":0,"TC":false,"RD":true,"RA":true,"AD":true,"CD":false,"Question":[{"name":"www.example.com.","type":255}],"Answer":[{"name":"www.example.com.","type":1,"TTL":21600,"data":"93.184.216.34"},{"name":"www.example.com.","type":46,"TTL":21600,"data":"a
        13 3 86400 1704990254 1703161351 21021 example.com. 44CFknVuDlOB1nfQ8yw0zDrsq7rd6i7FvI6/2mVu1E7b/L6xSzZt2lhixjDzHOBoSdvzPIZwVvGI+Nvard6Jgw=="}],"Comment":"Response
        from 199.43.135.53."}'
  recorded_at: Mon, 01 Jan 2024 01:33:01 GMT
recorded_with: VCR 6.2.0
