---
http_interactions:
- request:
    method: get
    uri: https://crt.sh/?exclude=expired&identity=example.com&output=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"issuer_ca_id":185756,"issuer_name":"C=US, O=DigiCert Inc, CN=DigiCert
        TLS RSA SHA256 2020 CA1","common_name":"www.example.org","name_value":"example.com\nwww.example.com","id":8396709327,"entry_timestamp":"2023-01-13T13:18:21.987","not_before":"2023-01-13T00:00:00","not_after":"2024-02-13T23:59:59","serial_number":"0c1fcb184518c7e3866741236d6b73f1"},{"issuer_ca_id":185756,"issuer_name":"C=US,
        O=DigiCert Inc, CN=DigiCert TLS RSA SHA256 2020 CA1","common_name":"www.example.org","name_value":"example.com\nwww.example.com","id":6359075900,"entry_timestamp":"2022-03-17T10:02:40.41","not_before":"2022-03-14T00:00:00","not_after":"2023-03-14T23:59:59","serial_number":"0faa63109307bc3d414892640ccd4d9a"},{"issuer_ca_id":185756,"issuer_name":"C=US,
        O=DigiCert Inc, CN=DigiCert TLS RSA SHA256 2020 CA1","common_name":"www.example.org","name_value":"example.com\nwww.example.com","id":6342480680,"entry_timestamp":"2022-03-14T22:48:46.166","not_before":"2022-03-14T00:00:00","not_after":"2023-03-14T23:59:59","serial_number":"0faa63109307bc3d414892640ccd4d9a"},{"issuer_ca_id":-1,"issuer_name":"Issuer
        Not Found","common_name":"example.com","name_value":"example.com\nuser@example.com","id":8506962125,"entry_timestamp":null,"not_before":"2023-01-27T01:21:18","not_after":"2033-01-24T01:21:18","serial_number":"1ac1e693c87d36563a92ca145c87bbc26fd49f4c"}]'
  recorded_at: Sun, 12 Feb 2023 03:33:03 GMT
- request:
    method: get
    uri: https://dns.google/resolve?name=www.example.com&type=A
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"Status":0,"TC":false,"RD":true,"RA":true,"AD":true,"CD":false,"Question":[{"name":"www.example.com.","type":1}],"Answer":[{"name":"www.example.com.","type":1,"TTL":20278,"data":"93.184.216.34"}]}'
  recorded_at: Sun, 12 Feb 2023 03:33:04 GMT
- request:
    method: get
    uri: https://dns.google/resolve?name=www.example.com&type=AAAA
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"Status":0,"TC":false,"RD":true,"RA":true,"AD":true,"CD":false,"Question":[{"name":"www.example.com.","type":28}],"Answer":[{"name":"www.example.com.","type":28,"TTL":20910,"data":"2606:2800:220:1:248:1893:25c8:1946"}]}'
  recorded_at: Sun, 12 Feb 2023 03:33:04 GMT
- request:
    method: get
    uri: https://dns.google/resolve?name=www.example.com&type=CNAME
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"Status":0,"TC":false,"RD":true,"RA":true,"AD":true,"CD":false,"Question":[{"name":"www.example.com.","type":5}],"Authority":[{"name":"example.com.","type":6,"TTL":308,"data":"ns.icann.org.
        noc.dns.icann.org. 2022091208 7200 3600 1209600 3600"}]}'
  recorded_at: Sun, 12 Feb 2023 03:33:04 GMT
- request:
    method: get
    uri: https://dns.google/resolve?name=www.example.com&type=TXT
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"Status":0,"TC":false,"RD":true,"RA":true,"AD":true,"CD":false,"Question":[{"name":"www.example.com.","type":16}],"Answer":[{"name":"www.example.com.","type":16,"TTL":21600,"data":"v=spf1
        -all"},{"name":"www.example.com.","type":16,"TTL":21600,"data":"wgyf8z8cgvm2qmxpnbnldrcltvk4xqfn"}],"Comment":"Response
        from 2001:500:8d::53."}'
  recorded_at: Sun, 12 Feb 2023 03:33:05 GMT
- request:
    method: get
    uri: https://dns.google/resolve?name=www.example.com&type=NS
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"Status":0,"TC":false,"RD":true,"RA":true,"AD":true,"CD":false,"Question":[{"name":"www.example.com.","type":2}],"Authority":[{"name":"example.com.","type":6,"TTL":307,"data":"ns.icann.org.
        noc.dns.icann.org. 2022091208 7200 3600 1209600 3600"}]}'
  recorded_at: Sun, 12 Feb 2023 03:33:05 GMT
- request:
    method: get
    uri: https://dns.google/resolve?name=example.com&type=A
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"Status":0,"TC":false,"RD":true,"RA":true,"AD":true,"CD":false,"Question":[{"name":"example.com.","type":1}],"Answer":[{"name":"example.com.","type":1,"TTL":20328,"data":"93.184.216.34"}]}'
  recorded_at: Sun, 12 Feb 2023 03:33:05 GMT
- request:
    method: get
    uri: https://dns.google/resolve?name=example.com&type=AAAA
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"Status":0,"TC":false,"RD":true,"RA":true,"AD":true,"CD":false,"Question":[{"name":"example.com.","type":28}],"Answer":[{"name":"example.com.","type":28,"TTL":20113,"data":"2606:2800:220:1:248:1893:25c8:1946"}]}'
  recorded_at: Sun, 12 Feb 2023 03:33:05 GMT
- request:
    method: get
    uri: https://dns.google/resolve?name=example.com&type=CNAME
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"Status":0,"TC":false,"RD":true,"RA":true,"AD":true,"CD":false,"Question":[{"name":"example.com.","type":5}],"Authority":[{"name":"example.com.","type":6,"TTL":1210,"data":"ns.icann.org.
        noc.dns.icann.org. 2022091208 7200 3600 1209600 3600"}]}'
  recorded_at: Sun, 12 Feb 2023 03:33:05 GMT
- request:
    method: get
    uri: https://dns.google/resolve?name=example.com&type=TXT
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"Status":0,"TC":false,"RD":true,"RA":true,"AD":true,"CD":false,"Question":[{"name":"example.com.","type":16}],"Answer":[{"name":"example.com.","type":16,"TTL":21600,"data":"v=spf1
        -all"},{"name":"example.com.","type":16,"TTL":21600,"data":"wgyf8z8cgvm2qmxpnbnldrcltvk4xqfn"}],"Comment":"Response
        from 199.43.133.53."}'
  recorded_at: Sun, 12 Feb 2023 03:33:06 GMT
- request:
    method: get
    uri: https://dns.google/resolve?name=example.com&type=NS
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"Status":0,"TC":false,"RD":true,"RA":true,"AD":true,"CD":false,"Question":[{"name":"example.com.","type":2}],"Answer":[{"name":"example.com.","type":2,"TTL":21600,"data":"a.iana-servers.net."},{"name":"example.com.","type":2,"TTL":21600,"data":"b.iana-servers.net."}],"Comment":"Response
        from 199.43.135.53."}'
  recorded_at: Sun, 12 Feb 2023 03:33:06 GMT
recorded_with: VCR 6.1.0
