---
http_interactions:
- request:
    method: get
    uri: https://api.zoomeye.org/web/search?page=1&query=wordpress%20%2Bwooo%20%2Ben-US
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Api-Key:
      - "<ZOOMEYE_API_KEY>"
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json
      X-Cdn-Edge:
      - 6ea28b7,-
    body:
      encoding: UTF-8
      string: '{"code": "login_required", "error": "login required, missing Authorization
        header", "message": "request invalid, validate usage and try again", "url":
        "https://www.zoomeye.org/api"}'
  recorded_at: Sat, 07 Oct 2023 01:16:37 GMT
recorded_with: VCR 6.2.0
