---
http_interactions:
- request:
    method: get
    uri: https://dns.google/resolve?name=example.com&type=ALL
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"Status":0,"TC":false,"RD":true,"RA":true,"AD":true,"CD":false,"Question":[{"name":"example.com.","type":255}],"Answer":[{"name":"example.com.","type":15,"TTL":16515,"data":"0
        ."},{"name":"example.com.","type":46,"TTL":16515,"data":"mx 13 2 86400 1703364240
        1701586085 46981 example.com. c1ju8jwmU56sSXWiYzstUQyP6p1gd8lCG4uY9KiTMNGLaONRUp2TR0PbqiPj6jetC7CF9wey5BgE6y3XAst9MA=="}]}'
  recorded_at: Sun, 03 Dec 2023 09:31:31 GMT
recorded_with: VCR 6.2.0
