---
http_interactions:
- request:
    method: post
    uri: https://www.censys.io/api/v1/search/websites
    body:
      encoding: UTF-8
      string: '{"query":"domain:dropbox.com"}'
    headers:
      Authorization:
      - "<CENSYS_AUTH>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Cloud-Trace-Context:
      - ea732c72091432bceb6a60488fb64091
    body:
      encoding: UTF-8
      string: '{"status": "ok", "results": [{"domain": "dropbox.com", "alexa_rank":
        50}], "metadata": {"count": 1, "query": "domain:dropbox.com", "backend_time":
        6, "page": 1, "pages": 1}}'
  recorded_at: Fri, 11 Oct 2019 20:14:26 GMT
recorded_with: VCR 5.0.0
