---
http_interactions:
- request:
    method: get
    uri: https://api.binaryedge.io/v2/query/search?page=1&query=sagawa.apk
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Key:
      - "<BINARYEDGE_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Allow:
      - GET, HEAD, OPTIONS
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"query":"sagawa.apk","page":1,"pagesize":20,"total":10,"events":[{"origin":{"port":33590,"country":"jp","type":"service-simple","ip":"45.56.126.141","module":"grabber","ts":1571509276889},"result":{"data":{"state":{"state":"open"},"service":{"method":"probe_extraction","banner":"HTTP/1.0
        200 OK\\r\\nAccept-Ranges: bytes\\r\\nContent-Length: 28221\\r\\nContent-Type:
        text/html; charset=utf-8\\r\\nLast-Modified: Fri, 18 Oct 2019 06:28:51 GMT\\r\\nDate:
        Sat, 19 Oct 2019 18:19:28 GMT\\r\\n\\r\\n<!DOCTYPE html>\\r\\n<!-- saved from
        url=(0028)http://www.sagawa-exp.co.jp/ -->\\r\\n<html lang=\"ja\">\\r\\n<!--
        Mirrored from sagawa-wqp.com/ by HTTrack Website Copier/3.x [XR&CO\\''2014],
        Mon, 28 Jan 2019 10:25:47 GMT -->\\r\\n<head><meta http-equiv=\"Content-Type\"
        content=\"text/html; charset=UTF-8\">\\r\\n\\r\\n<meta http-equiv=\"X-UA-Compatible\"
        content=\"IE=edge\">\\r\\n<title>\\xe4\\xbd\\x90\\xe5\\xb7\\x9d\\xe6\\x80\\xa5\\xe4\\xbe\\xbf\\xe6\\xa0\\xaa\\xe5\\xbc\\x8f\\xe4\\xbc\\x9a\\xe7\\xa4\\xbe\\xef\\xbc\\x9c\\xef\\xbc\\xb3\\xef\\xbc\\xa7\\xe3\\x83\\x9b\\xe3\\x83\\xbc\\xe3\\x83\\xab\\xe3\\x83\\x87\\xe3\\x82\\xa3\\xe3\\x83\\xb3\\xe3\\x82\\xb0\\xe3\\x82\\xb9\\xe3\\x82\\xb0\\xe3\\x83\\xab\\xe3\\x83\\xbc\\xe3\\x83\\x97\\xef\\xbc\\x9e</title>\\r\\n<meta
        name=\"viewport\" content=\"width=1024, user-scalable=yes\">\\r\\n<meta name=\"format-detection\"
        conten[...]
