---
http_interactions:
- request:
    method: get
    uri: https://ipinfo.io/2.2.2.2/json
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
          "ip": "2.2.2.2",
          "city": "Châtillon",
          "region": "Île-de-France",
          "country": "FR",
          "loc": "48.8024,2.2935",
          "org": "AS3215 Orange S.A.",
          "postal": "92320",
          "timezone": "Europe/Paris",
          "readme": "https://ipinfo.io/missingauth"
        }
  recorded_at: Thu, 02 Sep 2021 22:10:33 GMT
recorded_with: VCR 6.0.0
