---
http_interactions:
- request:
    method: post
    uri: https://api.zoomeye.ai/v2/search
    body:
      encoding: UTF-8
      string: '{"qbase64":"aXA9IjguOC44LjgiICYmIGhvc3RuYW1lPSJkbnMuZ29vZ2xlIg==","page":1}'
    headers:
      Api-Key:
      - "<ZOOMEYE_API_KEY>"
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Via-Jsl:
      - e473033,-
    body:
      encoding: UTF-8
      string: '{"code": 60000, "message": "success", "query": "ip=\"8.8.8.8\" && hostname=\"dns.google\"",
        "total": 6, "data": [{"ip": "8.8.8.8", "port": 53, "domain": "", "update_time":
        "2025-02-16T17:55:25"}, {"ip": "8.8.4.4", "port": 443, "domain": "dns.google",
        "update_time": "2024-06-04T12:06:15.900404"}, {"ip": "8.8.8.8", "port": 443,
        "domain": "", "update_time": "2022-08-12T18:17:49"}, {"ip": "8.8.8.8", "port":
        53, "domain": "", "update_time": "2022-08-12T18:17:49"}, {"ip": "8.8.8.8",
        "port": 853, "domain": "", "update_time": "2022-08-12T18:17:49"}, {"ip": "8.8.8.8",
        "port": 111, "domain": "", "update_time": "2022-06-19T09:00:31"}], "facets":
        {}}'
  recorded_at: Tue, 11 Mar 2025 10:30:55 GMT
recorded_with: VCR 6.3.1
