---
http_interactions:
  - request:
      method: post
      uri: https://api.zoomeye.org/user/login
      body:
        encoding: UTF-8
        string: '{"username":"<ZOOMEYE_USERNAME>","password":"<ZOOMEYE_PASSWORD>"}'
      headers:
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json
        X-Cdn-Edge:
          - 0b7e99c,-
      body:
        encoding: UTF-8
        string: '{"access_token": "CENSORED"}'
    recorded_at: Thu, 17 Oct 2019 04:52:58 GMT
  - request:
      method: get
      uri: https://api.zoomeye.org/host/search?page=1&query=sagawa.apk
      body:
        encoding: US-ASCII
        string: ""
      headers:
        Authorization:
          - JWT CENSORED
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json
        Etag:
          - W/"ba3b1699a87bbc1869506a2be8c9a733409de9f3"
        X-Cdn-Edge:
          - 0b7e99c,-
      body:
        encoding: ASCII-8BIT
        string:
          '{"total": 52, "available": 10, "matches": [{"protocol": {"application":
          "HTTP", "probe": "GetRequestHost", "transport": "tcp"}, "ip": "128.14.28.35",
          "timestamp": "2019-10-15T14:56:11", "geoinfo": {"organization_CN": null, "aso":
          null, "continent": {"geoname_id": null, "code": "NA", "names": {"zh-CN": "\u5317\u7f8e\u6d32",
          "en": "North American"}}, "city": {"geoname_id": null, "names": {"zh-CN":
          "\u6d1b\u6749\u77f6", "en": "Los Angeles"}}, "country": {"geoname_id": null,
          "code": "US", "names": {"zh-CN": "\u7f8e\u56fd", "en": "United States"}},
          "isp": "zenlayer.com", "asn": "21859", "subdivisions": {"geoname_id": null,
          "code": null, "names": {"zh-CN": "\u52a0\u5229\u798f\u5c3c\u4e9a\u5dde", "en":
          "California"}}, "location": {"lat": "34.052234", "lon": "-118.243685"}, "PoweredBy":
          "IPIP", "organization": null, "base_station": "", "idc": "IDC"}, "portinfo":
          {"hostname": "", "service": "http", "title": "\u4f50\u5ddd\u6025\u4fbf\u682a\u5f0f\u4f1a\u793e\uff1c\uff33\uff27\u30db\u30fc\u30eb\u30c7\u30a3\u30f3\u30b0\u30b9\u30b0\u30eb\u30fc\u30d7\uff1e",
          "extrainfo": "", "version": "", "device": "", "os": "", "port": 443, "app":
          "", "banner": "HTTP/1.0 200 OK\r\nAccept-Ranges: bytes\r\nContent-Length:
          28315\r\nContent-Type: text/html; charset=utf-8\r\nLast-Modified: Fri, 11
          Oct 2019 08:14:11 GMT\r\nDate: Tue, 15 Oct 2019 06:56:03 GMT\r\n\r\n<!DOCTYPE
          html>\r\n<!-- saved from url=(0028)http://www.sagawa-exp.co.jp/ -->\r\n<html
          lang=\"ja\">\r\n<!-- Mirrored from sagawa-wqp.com/ by HTTrack Website Copier/3.x
          [XR&CO''2014], Mon, 28 Jan 2019 10:25:47 GMT -->\r\n<head><meta http-equiv=\"Content-Type\"
          content=\"text/html; charset=UTF-8\">\r\n\r\n<meta http-equiv=\"X-UA-Compatible\"
          content=\"IE=edge\">\r\n<title>\u4f50\u5ddd\u6025\u4fbf\u682a\u5f0f\u4f1a\u793e\uff1c\uff33\uff27\u30db\u30fc\u30eb\u30c7\u30a3\u30f3\u30b0\u30b9\u30b0\u30eb\u30fc\u30d7\uff1e</title>\r\n<meta
          name=\"viewport\" content=\"width=1024, user-scalable=yes\">\r\n<meta name=\"format-detection\"
          content=\"telephone=no\">\r\n<meta name=\"description\" content=\"\u4f50\u5ddd\u6025\u4fbf\u306f\u3001\u5b85\u914d\u4fbf\u4e8b\u696d\u3092\u4e2d\u5fc3\u306b\u3001\u500b\u4eba\u306e\u304a\u5ba2\u3055\u307e\u304b\u3089\u6cd5\u4eba\u306e\u304a\u5ba2\u3055\u307e\u307e\u3067\u3001\u7269\u6d41\u3068\u305d\u306e\u5468\u8fba\u306e\u69d8\u3005\u306a\u4e8b\u696d\u3092\u5c55\u958b\u3057\u3066\u3044\u307e\u3059\u3002\u304a\u8377\u7269\u30fb\u5b85\u914d\u4fbf\u3092\u9001\u308b\u3053\u3068\u304b\u3089\u539f\u6599\u3084\u7d20\u6750\u306e\u8abf\u9054\u30fb\u96c6\u8377\u30fb\u7d0d\u54c1\u306a\u3069\u7269\u6d41\u306b\u95a2\u3059\u308b\u304a\u60a9\u307f\u306f\u4f50\u5ddd\u6025\u4fbf\u306b\u304a\u4efb\u305b\u304f\u3060\u3055\u3044\u3002\">\r\n<meta
          name=\"google-site-verification\" content=\"Xe8kPMWghKwmi7556SgRzonflAKIEdc9dVTVQF4TICk\">\r\n<!--
          style -->\r\n<link rel=\"stylesheet\" href=\"index_files/cmn_layout.css\">\r\n<link
          rel=\"stylesheet\" href=\"index_files/cmn_module.css\">\r\n<link rel=\"stylesheet\"
          href=\"index_files/cmn_style.css\">\r\n<link rel=\"stylesheet\" href=\"index_files/jquery.bxslider.css\">\r\n<link
          rel=\"stylesheet\" href=\"index_files/style.css\">\r\n<link rel=\"stylesheet\"
          href=\"index_files/topVisual.css\">\r\n<!-- script -->\r\n<script async=\"\"
          src=\"index_files/analytics.js\"></script><script src=\"index_files/jquery.html\"></script>\r\n<script
          src=\"index_files/plugins.js\"></script>\r\n<script src=\"index_files/jquery.ah-placeholder.js\"></script>\r\n<script
          src=\"index_files/common.js\"></script>\r\n\r\n<!--[if lt IE 9]><script src=\"/common/js/lib/html5shiv.js\"></script><![endif]-->\r\n<!--
          code -->\r\n<script src=\"index_files/jquery.imagesloaded.html\"></script>\r\n<script
    [...]
  - request:
      method: get
      uri: https://api.zoomeye.org/host/search?page=2&query=sagawa.apk
      body:
        encoding: US-ASCII
        string: ""
      headers:
        Authorization:
          - JWT CENSORED
    response:
      status:
        code: 403
        message: Forbidden
      headers:
        Content-Type:
          - application/json
        X-Cdn-Edge:
          - 0b7e99c,-
      body:
        encoding: UTF-8
        string:
          '{"error": "forbidden", "message": "provided credentials do not provide
          access to specified resource", "url": "https://www.zoomeye.org/api"}'
    recorded_at: Thu, 17 Oct 2019 04:53:00 GMT
[...]
  - request:
      method: get
      uri: https://api.zoomeye.org/host/search?page=6&query=sagawa.apk
      body:
        encoding: US-ASCII
        string: ""
      headers:
        Authorization:
          - JWT CENSORED
    response:
      status:
        code: 403
        message: Forbidden
      headers:
        Content-Type:
          - application/json
        X-Cdn-Edge:
          - 0b7e99c,-
      body:
        encoding: UTF-8
        string:
          '{"error": "forbidden", "message": "provided credentials do not provide
          access to specified resource", "url": "https://www.zoomeye.org/api"}'
    recorded_at: Thu, 17 Oct 2019 04:53:02 GMT
recorded_with: VCR 5.0.0
