---
http_interactions:
- request:
    method: get
    uri: https://api.shodan.io/shodan/host/search?facets=&key=<SHODAN_API_KEY>&minify=true&page=1&query=ip:1.1.1.1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"matches": [{"hash": 1592421393, "timestamp": "2021-07-30T11:08:59.656907",
        "isp": "Cloudflare, Inc.", "transport": "udp", "data": "\nRecursion: enabled\nResolver
        ID: AMS", "asn": "AS13335", "port": 53, "hostnames": ["one.one.one.one"],
        "location": {"city": "Miami", "region_code": "FL", "area_code": null, "longitude":
        -80.18, "country_code3": null, "latitude": 25.7867, "postal_code": null, "dma_code":
        null, "country_code": "US", "country_name": "United States"}, "dns": {"software":
        null, "recursive": true, "resolver_id": "AMS", "resolver_hostname": null},
        "ip": 16843009, "domains": ["one.one"], "org": "APNIC and Cloudflare DNS Resolver
        project", "os": null, "_shodan": {"crawler": "bf213bc419cc8491376c12af31e32623c1b6f467",
        "ptr": true, "id": "a07254b6-fba1-4c2c-b0c6-5bebdf23ee8d", "module": "dns-udp",
        "options": {}}, "ip_str": "1.1.1.1"}, {"asn": "AS13335", "http": {"robots_hash":
        null, "redirects": [], "securitytxt": null, "title": "DNS points to prohibited
        IP | smtp.milestonenavxtra.com | Cloudflare", "sitemap_hash": null, "robots":
        null, "server": "cloudflare", "host": "smtp.milestonenavxtra.com", "html":
        "<!DOCTYPE html>\n<!--[if lt IE 7]> <html class=\"no-js ie6 oldie\" lang=\"en-US\">
        <![endif]-->\n<!--[if IE 7]>    <html class=\"no-js ie7 oldie\" lang=\"en-US\">
        <![endif]-->\n<!--[if IE 8]>    <html class=\"no-js ie8 oldie\" lang=\"en-US\">
        <![endif]-->\n<!--[if gt IE 8]><!--> <html class=\"no-js\" lang=\"en-US\">
        <!--<![endif]-->\n<head>\n<title>DNS points to prohibited IP | smtp.milestonenavxtra.com
        | Cloudflare</title>\n<meta charset=\"UTF-8\" />\n<meta http-equiv=\"Content-Type\"
        content=\"text/html; charset=UTF-8\" />\n<meta http-equiv=\"X-UA-Compatible\"
        content=\"IE=Edge,chrome=1\" />\n<meta name=\"robots\" content=\"noindex,
        nofollow\" />\n<meta name=\"viewport\" content=\"width=device-width,initial-scale=1\"
        />\n<link rel=\"stylesheet\" id=\"cf_styles-css\" href=\"/cdn-cgi/styles/main.css\"
        type=\"text/css\" media=\"screen,projection\" />\n\n\n</head>\n<body>\n  <div
        id=\"cf-wrapper\">\n    <div class=\"cf-alert cf-alert-error cf-cookie-error
        hidden\" id=\"cookie-alert\" data-translate=\"enable_cookies\">Please enable
        cookies.</div>\n    <div id=\"cf-error-details\" class=\"p-0\">\n      <header
        class=\"mx-auto pt-10 lg:pt-6 lg:px-8 w-240 lg:w-full mb-15 antialiased\">\n         <h1
        class=\"inline-block md:block mr-2 md:mb-2 font-light text-60 md:text-3xl
        text-black-dark leading-tight\">\n           <span data-translate=\"error\">Error</span>\n           <span>1000</span>\n         </h1>\n         <span
        class=\"inline-block md:block heading-ray-id font-mono text-15 lg:text-sm
        lg:leading-relaxed\">Ray ID: 676cd81e1ad042d8 &bull;</span>\n         <span
        class=\"inline-block md:block heading-ray-id font-mono text-15 lg:text-sm
        lg:leading-relaxed\">2021-07-30 07:23:53 UTC</span>\n        <h2 class=\"text-gray-600
        leading-1.3 text-3xl lg:text-2xl font-light\">DNS points to prohibited IP</h2>\n      </header>\n\n      <section
        class=\"w-240 lg:w-full mx-auto mb-8 lg:px-8\">\n          <div id=\"what-happened-section\"
        class=\"w-1/2 md:w-full\">\n            <h2 class=\"text-3xl leading-tight
        font-normal mb-4 text-black-dark antialiased\" data-translate=\"what_happened\">What
        happened?</h2>\n            <p>You''ve requested a page on a website (smtp.milestonenavxtra.com)
        that is on the <a data-orig-proto=\"https\" data-orig-ref=\"www.cloudflare.com/5xx-error-landing/\"
        target=\"_blank\">Cloudflare</a> network. Unfortunately, it is resolving to
        an IP address that is creating a conflict within Cloudflare''s system.</p>\n            \n          </div>\n\n          \n          <div
        id=\"resolution-copy-section\" class=\"w-1/2 mt-6 text-15 leading-normal\">\n            <h2
        class=\"text-3xl leading-tight font-normal mb-4 text-black-dark antialiased\"
        data-translate=\"what_can_i_do\">What can I do?</h2>\n            <p><strong>If
        you are the owner of this website:</strong><br />you should <a data-orig-proto=\"https\"
        data-orig-ref=\"www.cloudflare.com/login?utm_source=error_100x\" target=\"_blank\">login
        to Cloudflare</a> and change the DNS A records for smtp.milestonenavxtra.com
        to resolve to a different IP address.</p>\n          </div>\n          \n      </section>\n\n      <div
        class=\"cf-error-footer cf-wrapper w-240 lg:w-full py-10 sm:py-4 sm:px-8 mx-auto
        text-center sm:text-left border-solid border-0 border-t border-gray-300\">\n  <p
        class=\"text-13\">\n    <span class=\"cf-footer-item sm:block sm:mb-1\">Cloudflare
        Ray ID: <strong class=\"font-semibold\">676cd81e1ad042d8</strong></span>\n    <span
        class=\"cf-footer-separator sm:hidden\">&bull;</span>\n    <span class=\"cf-footer-item
        sm:block sm:mb-1\"><span>Your IP</span>: 172.69.35.186</span>\n    <span class=\"cf-footer-separator
        sm:hidden\">&bull;</span>\n    <span class=\"cf-footer-item sm:block sm:mb-1\"><span>Performance
        &amp; security by</span> <a rel=\"noopener noreferrer\" href=\"https://www.cloudflare.com/5xx-error-landing\"
        id=\"brand_link\" target=\"_blank\">Cloudflare</a></span>\n    \n  </p>\n</div><!--
        /.error-footer -->\n\n\n    </div><!-- /#cf-error-details -->\n  </div><!--
        /#cf-wrapper -->\n\n  <script type=\"text/javascript\">\n  window._cf_translation
        = {};\n  \n  \n</script>\n\n</body>\n</html>\n", "location": "/", "components":
        {}, "securitytxt_hash": null, "sitemap": null, "html_hash": -578220077}, "timestamp":
        "2021-07-30T07:29:12.955750", "org": "APNIC and Cloudflare DNS Resolver project",
        "isp": "Cloudflare, Inc.", "transport": "tcp", "data": "HTTP/1.1 403 Forbidden\r\nDate:
        Fri, 30 Jul 2021 07:23:54 GMT\r\nContent-Type: text/html; charset=UTF-8\r\nTransfer-Encoding:
        chunked\r\nConnection: keep-alive\r\nX-Frame-Options: SAMEORIGIN\r\nCache-Control:
        private, max-age=0, no-store, no-cache, must-revalidate, post-check=0, pre-check=0\r\nExpires:
        Thu, 01 Jan 1970 00:00:01 GMT\r\ncf-request-id: 0b97e566ca000042d80c9c8000000001\r\nExpect-CT:
        max-age=604800, report-uri=\"https://report-uri.cloudflare.com/cdn-cgi/beacon/expect-ct\"\r\nVary:
        Accept-Encoding\r\nCF-Cache-Status: DYNAMIC\r\nServer: cloudflare\r\nCF-RAY:
        676cd81c19f03624-LAX\r\n\r\n", "port": 443, "ssl": {"chain_sha256": ["c034ec538f8f0d0661b3a8910f4034cf1f4d6fad73e2cecd0be5d1ac46b177d8",
        "3abbe63daf756c5016b6b85f52015fd8e8acbe277c5087b127a60563a841ed8a", "16af57a9f676b0ab126095aa5ebadef22ab31119d644ac95cd4b93dbf3f26aeb"],
        "jarm": "27d3ed3ed0003ed1dc42d43d00041d6183ff1bfae51ebd88d70384363d525c",
        "chain": ["-----BEGIN CERTIFICATE-----\nMIIFSTCCBO+gAwIBAgIQCyijnlyL8UbWHXNXL1QG4DAKBggqhkjOPQQDAjBKMQsw\nCQYDVQQGEwJVUzEZMBcGA1UEChMQQ2xvdWRmbGFyZSwgSW5jLjEgMB4GA1UEAxMX\nQ2xvdWRmbGFyZSBJbmMgRUNDIENBLTMwHhcNMjEwNjE3MDAwMDAwWhcNMjIwNjE2\nMjM1OTU5WjB1MQswCQYDVQQGEwJVUzETMBEGA1UECBMKQ2FsaWZvcm5pYTEWMBQG\nA1UEBxMNU2FuIEZyYW5jaXNjbzEZMBcGA1UEChMQQ2xvdWRmbGFyZSwgSW5jLjEe\nMBwGA1UEAxMVc25pLmNsb3VkZmxhcmVzc2wuY29tMFkwEwYHKoZIzj0CAQYIKoZI\nzj0DAQcDQgAEcDsDSAWsYnYjCcfFqfAnj/TGw4UW9toNhZ531zvUFZYg80kgtrFZ\n6l1VeZ[...]
- request:
    method: get
    uri: https://search.censys.io/api/v2/hosts/search?q=ip:1.1.1.1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<CENSYS_AUTH>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"code": 200, "status": "OK", "result": {"query": "ip:1.1.1.1", "total":
        1, "hits": [{"ip": "1.1.1.1", "services": [{"port": 53, "service_name": "DNS",
        "transport_protocol": "UDP"}, {"port": 80, "service_name": "HTTP", "transport_protocol":
        "TCP"}, {"port": 443, "service_name": "HTTP", "transport_protocol": "TCP"}],
        "location": {"continent": "Oceania", "country": "Australia", "country_code":
        "AU", "timezone": "Australia/Sydney", "coordinates": {"latitude": -33.494,
        "longitude": 143.2104}, "registered_country": "Australia", "registered_country_code":
        "AU"}, "autonomous_system": {"asn": 13335, "description": "CLOUDFLARENET",
        "bgp_prefix": "1.1.1.0/24", "name": "CLOUDFLARENET", "country_code": "US"}}],
        "links": {"next": "", "prev": ""}}}'
  recorded_at: Fri, 30 Jul 2021 11:14:43 GMT
recorded_with: VCR 6.0.0
