---
http_interactions:
- request:
    method: get
    uri: https://api.shodan.io/shodan/host/search?facets=&key=<SHODAN_API_KEY>&minify=true&page=1&query=ip:1.1.1.1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"matches": [{"asn": "AS13335", "http": {"robots_hash": null, "redirects":
        [], "securitytxt": null, "title": "wewantyourautoloan.com | 525: SSL handshake
        failed", "sitemap_hash": null, "robots": null, "server": "cloudflare", "host":
        "wewantyourautoloan.com", "html": "<!DOCTYPE html>\n<!--[if lt IE 7]> <html
        class=\"no-js ie6 oldie\" lang=\"en-US\"> <![endif]-->\n<!--[if IE 7]>    <html
        class=\"no-js ie7 oldie\" lang=\"en-US\"> <![endif]-->\n<!--[if IE 8]>    <html
        class=\"no-js ie8 oldie\" lang=\"en-US\"> <![endif]-->\n<!--[if gt IE 8]><!-->
        <html class=\"no-js\" lang=\"en-US\"> <!--<![endif]-->\n<head>\n<meta http-equiv=\"refresh\"
        content=\"0\">\n\n<title>wewantyourautoloan.com | 525: SSL handshake failed</title>\n<meta
        charset=\"UTF-8\" />\n<meta http-equiv=\"Content-Type\" content=\"text/html;
        charset=UTF-8\" />\n<meta http-equiv=\"X-UA-Compatible\" content=\"IE=Edge,chrome=1\"
        />\n<meta name=\"robots\" content=\"noindex, nofollow\" />\n<meta name=\"viewport\"
        content=\"width=device-width,initial-scale=1\" />\n<link rel=\"stylesheet\"
        id=\"cf_styles-css\" href=\"/cdn-cgi/styles/main.css\" type=\"text/css\" media=\"screen,projection\"
        />\n\n\n</head>\n<body>\n<div id=\"cf-wrapper\">\n\n    \n\n    <div id=\"cf-error-details\"
        class=\"p-0\">\n        <header class=\"mx-auto pt-10 lg:pt-6 lg:px-8 w-240
        lg:w-full mb-8\">\n            <h1 class=\"inline-block sm:block sm:mb-2 font-light
        text-60 lg:text-4xl text-black-dark leading-tight mr-2\">\n              \n              <span
        class=\"cf-error-type\">Error</span>\n              <span class=\"cf-error-code\">525</span>\n            </h1>\n            <span
        class=\"inline-block sm:block font-mono text-15 lg:text-sm lg:leading-relaxed\">Ray
        ID: 65e1149e9af024e8 &bull;</span>\n            <span class=\"inline-block
        sm:block font-mono text-15 lg:text-sm lg:leading-relaxed\">2021-06-12 06:39:11
        UTC</span>\n            <h2 class=\"text-gray-600 leading-1.3 text-3xl font-light\">SSL
        handshake failed</h2>\n        </header>\n        \n        <div class=\"my-8
        bg-gradient-gray\">\n            <div class=\"w-240 lg:w-full mx-auto\">\n                <div
        class=\"clearfix md:px-8\">\n                  \n<div id=\"cf-browser-status\"
        class=\" relative w-1/3 md:w-full py-15 md:p-0 md:py-8 md:text-left md:border-solid
        md:border-0 md:border-b md:border-gray-400 overflow-hidden float-left md:float-none
        text-center\">\n  <div class=\"relative mb-10 md:m-0\">\n    <span class=\"cf-icon-browser
        block md:hidden h-20 bg-center bg-no-repeat\"></span>\n    <span class=\"cf-icon-ok
        w-12 h-12 absolute left-1/2 md:left-auto md:right-0 md:top-0 -ml-6 -bottom-4\"></span>\n  </div>\n  <span
        class=\"md:block w-full truncate\">You</span>\n  <h3 class=\"md:inline-block
        mt-3 md:mt-0 text-2xl text-gray-600 font-light leading-1.3\">Browser</h3>\n  <span
        class=\"leading-1.3 text-2xl text-green-success\">Working</span>\n</div>\n\n<div
        id=\"cf-cloudflare-status\" class=\" relative w-1/3 md:w-full py-15 md:p-0
        md:py-8 md:text-left md:border-solid md:border-0 md:border-b md:border-gray-400
        overflow-hidden float-left md:float-none text-center\">\n  <div class=\"relative
        mb-10 md:m-0\">\n    <span c[...]
- request:
    method: get
    uri: https://search.censys.io/api/v2/hosts/search?q=ip:1.1.1.1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<CENSYS_AUTH>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"code": 200, "status": "OK", "result": {"query": "ip:1.1.1.1", "total":
        1, "hits": [{"ip": "1.1.1.1", "services": [{"port": 53, "service_name": "DNS",
        "transport_protocol": "UDP"}, {"port": 80, "service_name": "HTTP", "transport_protocol":
        "TCP"}, {"port": 443, "service_name": "HTTP", "transport_protocol": "TCP"}],
        "location": {"continent": "Oceania", "country": "Australia", "country_code":
        "AU", "timezone": "Australia/Sydney", "coordinates": {"latitude": -33.494,
        "longitude": 143.2104}, "registered_country": "Australia", "registered_country_code":
        "AU"}, "autonomous_system": {"asn": 13335, "description": "CLOUDFLARENET",
        "bgp_prefix": "1.1.1.0/24", "name": "CLOUDFLARENET", "country_code": "US"}}],
        "links": {"next": "", "prev": ""}}}'
  recorded_at: Wed, 16 Jun 2021 02:29:54 GMT
recorded_with: VCR 6.0.0
