---
http_interactions:
- request:
    method: get
    uri: https://api.shodan.io/shodan/host/search?facets=&key=<SHODAN_API_KEY>&minify=true&page=1&query=ip:1.1.1.1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"matches": [{"hash": 421537210, "timestamp": "2021-08-07T02:13:39.394486",
        "isp": "Cloudflare, Inc.", "transport": "udp", "data": "\nRecursion: enabled\nResolver
        ID: LAX", "asn": "AS13335", "port": 53, "hostnames": ["one.one.one.one"],
        "location": {"city": "Miami", "region_code": "FL", "area_code": null, "longitude":
        -80.18, "country_code3": null, "latitude": 25.7867, "postal_code": null, "dma_code":
        null, "country_code": "US", "country_name": "United States"}, "dns": {"software":
        null, "recursive": true, "resolver_id": "LAX", "resolver_hostname": null},
        "ip": 16843009, "domains": ["one.one"], "org": "APNIC and Cloudflare DNS Resolver
        project", "os": null, "_shodan": {"crawler": "49217c0cdcbcebaf23c2979ae16d4eba64180b1f",
        "ptr": true, "id": "f3e5ccf0-16bc-441b-84e2-18631358bbcc", "module": "dns-udp",
        "options": {}}, "ip_str": "1.1.1.1"}, {"asn": "AS13335", "http": {"robots_hash":
        null, "redirects": [], "securitytxt": null, "title": "DNS resolution error
        | domain-offline.qiniu.in | Cloudflare", "sitemap_hash": null, "robots": null,
        "server": "cloudflare", "host": "domain-offline.qiniu.in", "html": "<!DOCTYPE
        html>\n<!--[if lt IE 7]> <html class=\"no-js ie6 oldie\" lang=\"en-US\"> <![endif]-->\n<!--[if
        IE 7]>    <html class=\"no-js ie7 oldie\" lang=\"en-US\"> <![endif]-->\n<!--[if
        IE 8]>    <html class=\"no-js ie8 oldie\" lang=\"en-US\"> <![endif]-->\n<!--[if
        gt IE 8]><!--> <html class=\"no-js\" lang=\"en-US\"> <!--<![endif]-->\n<head>\n<title>DNS
        resolution error | domain-offline.qiniu.in | Cloudflare</title>\n<meta charset=\"UTF-8\"
        />\n<meta http-equiv=\"Content-Type\" content=\"text/html; charset=UTF-8\"
        />\n<meta http-equiv=\"X-UA-Compatible\" content=\"IE=Edge,chrome=1\" />\n<meta
        name=\"robots\" content=\"noindex, nofollow\" />\n<meta name=\"viewport\"
        content=\"width=device-width,initial-scale=1\" />\n<link rel=\"stylesheet\"
        id=\"cf_styles-css\" href=\"/cdn-cgi/styles/main.css\" type=\"text/css\" media=\"screen,projection\"
        />\n\n\n</head>\n<body>\n  <div id=\"cf-wrapper\">\n    <div class=\"cf-alert
        cf-alert-error cf-cookie-error hidden\" id=\"cookie-alert\" data-translate=\"enable_cookies\">Please
        enable cookies.</div>\n    <div id=\"cf-error-details\" class=\"p-0\">\n      <header
        class=\"mx-auto pt-10 lg:pt-6 lg:px-8 w-240 lg:w-full mb-15 antialiased\">\n         <h1
        class=\"inline-block md:block mr-2 md:mb-2 font-light text-60 md:text-3xl
        text-black-dark leading-tight\">\n           <span data-translate=\"error\">Error</span>\n           <span>1001</span>\n         </h1>\n         <span
        class=\"inline-block md:block heading-ray-id font-mono text-15 lg:text-sm
        lg:leading-relaxed\">Ray ID: 67acf8ebe98bead3 &bull;</span>\n         <span
        class=\"inline-block md:block heading-ray-id font-mono text-15 lg:text-sm
        lg:leading-relaxed\">2021-08-07 02:11:06 UTC</span>\n        <h2 class=\"text-gray-600
        leading-1.3 text-3xl lg:text-2xl font-light\">DNS resolution error</h2>\n      </header>\n\n      <section
        class=\"w-240 lg:w-full mx-auto mb-8 lg:px-8\">\n          <div id=\"what-happened-section\"
        class=\"w-1/2 md:w-full\">\n            <h2 class=\"text-3xl leading-tight
        font-normal mb-4 text-black-dark antialiased\" data-translate=\"what_happened\">What
        happened?</h2>\n            <p>You''ve requested a page on a website (domain-offline.qiniu.in)
        that is on the <a data-orig-proto=\"https\" data-orig-ref=\"www.cloudflare.com/5xx-error-landing/\"
        target=\"_blank\">Cloudflare</a> network. Cloudflare is currently unable to
        resolve your requested domain (domain-offline.qiniu.in). There are two potential
        causes of this:</p>\n            <ul class=\"ml-10 mt-6 text-15 text-black-dark
        antialiased leading-normal\">\n               <li class=\"mb-4\"><strong class=\"font-semibold\">Most
        likely:</strong> if the owner just signed up for Cloudflare it can take a
        few minutes for the website''s information to be distributed to our global
        network.</li>\n               <li><strong>Less likely:</strong> something
        is wrong with this site''s configuration. Usually this happens when accounts
        have been signed up with a partner organization (e.g., a hosting provider)
        and the provider''s DNS fails.</li>\n            </ul>\n            \n          </div>\n\n          \n      </section>\n\n      <div
        class=\"cf-error-footer cf-wrapper w-240 lg:w-full py-10 sm:py-4 sm:px-8 mx-auto
        text-center sm:text-left border-solid border-0 border-t border-gray-300\">\n  <p
        class=\"text-13\">\n    <span class=\"cf-footer-item sm:block sm:mb-1\">Cloudflare
        Ray ID: <strong class=\"font-semibold\">67acf8ebe98bead3</strong></span>\n    <span
        class=\"cf-footer-separator sm:hidden\">&bull;</span>\n    <span class=\"cf-footer-item
        sm:block sm:mb-1\"><span>Your IP</span>: 39.224.235.43</span>\n    <span class=\"cf-footer-separator
        sm:hidden\">&bull;</span>\n    <span class=\"cf-footer-item sm:block sm:mb-1\"><span>Performance
        &amp; security by</span> <a rel=\"noopener noreferrer\" href=\"https://www.cloudflare.com/5xx-error-landing\"
        id=\"brand_link\" target=\"_blank\">Cloudflare</a></span>\n    \n  </p>\n</div><!--
        /.error-footer -->\n\n\n    </div><!-- /#cf-error-details -->\n  </div><!--
        /#cf-wrapper -->\n\n  <script type=\"text/javascript\">\n  window._cf_translation
        = {};\n  \n  \n</script>\n\n</body>\n</html>\n", "location": "/", "components":
        {}, "securitytxt_hash": null, "sitemap": null, "html_hash": -71264413}, "timestamp":
        "2021-08-07T02:11:06.338308", "org": "APNIC and Cloudflare DNS Resolver project",
        "isp": "Cloudflare, Inc.", "transport": "tcp", "data": "HTTP/1.1 409 Conflict\r\nDate:
        Sat, 07 Aug 2021 02:11:06 GMT\r\nContent-Type: text/html; charset=UTF-8\r\nContent-Length:
        3967\r\nConnection: close\r\nX-Frame-Options: SAMEORIGIN\r\nCache-Control:
        private, max-age=0, no-store, no-cache, must-revalidate, post-check=0, pre-check=0\r\nExpires:
        Thu, 01 Jan 1970 00:00:01 GMT\r\nVary: Accept-Encoding\r\nServer: cloudflare\r\nCF-RAY:
        67acf8ebe98bead3-LAX\r\n\r\n", "port": 80, "hostnames": ["one.one.one.one"],
        "location": {"city": "Miami", "region_code": "FL", "area_code": null, "longitude":
        -80.18, "country_code3": null, "latitude": 25.7867, "postal_code": null, "dma_code":
        null, "country_code": "US", "country_name": "United States"}, "ip": 16843009,
        "domains": ["one.one"], "hash": 1890573740, "os": null, "_shodan": {"crawler":
        "f33d80a7ca4b7417d1867303f3af6b398f76f284", "ptr": true, "id": "e9d9e83d-94bd-4aa7-a2cc-d6d1e358166f",
        "module": "http", "options": {"hostname": "domain-offline.qiniu.in"}}, "ip_str":
        "1.1.1.1"}, {"asn": "AS13335", "http": {"robots_hash": null, "redirects":
        [], "securitytxt": null, "title": "403 Forbidden", "sitemap_hash": null, "robots":
        null, "server": "cloudflare", "host": "cajonasaurus.com", "html": "<html>\r\n<head><title>403
        Forbidden</title></head>\r\n<body>\r\n<center><h1>403 Forbidden</h1></center>\r\n<hr><center>cloudflare</center>\r\n</body>\r\n</html>\r\n<!--
        a padding to disable MSIE and Chrome friendly error page -->\r\n<!-- a padding
        to disable MSIE and Chrome friendly error page -->\r\n<!-- a padding to disable
        MSIE and Chrome friendly error page -->\r\n<!-- a padding to disable MSIE
        and Chrome friendly error page -->\r\n<!-- a padding to disable MSIE and Chrome
        friendly error page -->\r\n<!-- a padding to disable MSIE and Chrome friendly
        error page -->\r\n", "location": "/", "components": {}, "securitytxt_hash":
        null, "sitemap": null, "html_hash": 1471629837}, "timestamp": "2021-08-07T01:39:26.801790",
        "org": "APNIC and Cloudflare DNS Resolver project", "isp": "Cloudflare, Inc.",
        "transport": "tcp", "data": "HTTP/1.1 403 Forbidden\r\nServer: cloudflare\r\nDate:
        Sat, 07 Aug 2021 01:39:26 GMT\r\nContent-Type: text/html\r\nContent-Length:
        553\r\nConnection: keep-alive\r\nCF-RAY: 67acca8c1ab13137-LAX\r\n\r\n", "port":
        443, "ssl": {"chain_sha256": ["fb444eb8e68437bae06232b9f5091bccff62a768ca09e92eb5c9c2cf9d17c426",
        "d79a2d5e03295c0e9feae36d021ebd5209700ab1a9e817a43f30fa3c66f78d21", "4348a0e9444c78cb265e058d5e8944b4d84f9662bd26db257f8934a443c70161"],
        "jarm": "27d3ed3ed0003ed1dc42d43d00041d6183ff1bfae51ebd88d70384363d525c",
        "chain": ["-----BEGIN CERTIFICATE-----\nMIIFhjCCBQ2gAwIBAgIQBQdvZtEbaSJWzKzVRv/sUzAKBggqhkjOPQQDAzBWMQsw\nCQYDVQQGEwJVUzEVMBMGA1UEChMMRGlnaUNlcnQgSW5jMTAwLgYDVQQDEydEaWdp\nQ2VydCBUTFMgSHlicmlkIEVDQyBTSEEzODQgMjAyMCBDQTEwHhcNMjEwMTExMDAw\nMDAwWhcNMjIwMTE4MjM1OTU5WjByMQswCQYDVQQGEwJVUzETMBEGA1UECBMKQ2Fs\naWZvcm5pYTEWMBQGA1UEBxMNU2FuIEZyYW5jaXNjbzEZMBcGA1UEChMQQ2xvdWRm\nbGFyZSwgSW5jLjEbMBkGA1UEAxMSY2xvdWRmbGFyZS1kbnMuY29tMFkwEwYHKoZI\nzj0CAQYIKoZIzj0DAQcDQgAEF60f6DWvcNONnJ5k/UceW5cMCtEQqCYyETZmTRKZ\nw+Exu/[...]
- request:
    method: get
    uri: https://search.censys.io/api/v2/hosts/search?q=ip:1.1.1.1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<CENSYS_AUTH>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"code": 200, "status": "OK", "result": {"query": "ip:1.1.1.1", "total":
        1, "hits": [{"ip": "1.1.1.1", "services": [{"port": 53, "service_name": "DNS",
        "transport_protocol": "UDP"}, {"port": 80, "service_name": "HTTP", "transport_protocol":
        "TCP"}, {"port": 443, "service_name": "HTTP", "transport_protocol": "TCP"}],
        "location": {"continent": "Oceania", "country": "Australia", "country_code":
        "AU", "timezone": "Australia/Sydney", "coordinates": {"latitude": -33.494,
        "longitude": 143.2104}, "registered_country": "Australia", "registered_country_code":
        "AU"}, "autonomous_system": {"asn": 13335, "description": "CLOUDFLARENET",
        "bgp_prefix": "1.1.1.0/24", "name": "CLOUDFLARENET", "country_code": "US"}}],
        "links": {"next": "", "prev": ""}}}'
  recorded_at: Sat, 07 Aug 2021 02:20:04 GMT
recorded_with: VCR 6.0.0
