---
http_interactions:
- request:
    method: get
    uri: https://app.validin.com/api/axon/domain/dns/history/example.com/A
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      Authorization:
      - Bearer <VALIDIN_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Last-Modified:
      - Tuesday, 16-Apr-2024 23:16:41 GMT
    body:
      encoding: UTF-8
      string: '{"key":"example.com","effective_opts":{"type":"dom","limit":1000,"wildcard":false,"parent":false,"categories_include":["A"]},"status":"finished","query_key":"example.com","records":{"A":[{"key":"example.com","value":"93.184.216.34","value_type":"IP4","first_seen":1566777600,"last_seen":1713268800}]},"records_returned":1,"limited":false,"error":null}'
  recorded_at: Tue, 16 Apr 2024 23:16:41 GMT
recorded_with: VCR 6.2.0
