---
http_interactions:
  - request:
      method: get
      uri: https://dns.google/resolve?name=example.com&type=ALL
      body:
        encoding: ASCII-8BIT
        string: ""
      headers:
        Content-Type:
          - application/json
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json; charset=UTF-8
      body:
        encoding: UTF-8
        string:
          '{"Status":0,"TC":false,"RD":true,"RA":true,"AD":true,"CD":false,"Question":[{"name":"example.com.","type":255}],"Answer":[{"name":"example.com.","type":1,"TTL":21203,"data":"93.184.216.34"},{"name":"example.com.","type":46,"TTL":21203,"data":"a
          13 2 86400 1703390384 1701578884 46981 example.com. sMfINE65drZQNue1+ULamI2S4v57ik72iMlhpyT4+qkNoLvrXL5+W/yOfGkV8p21FmsjRJJWr6iPYLYnaDeWUw=="}]}'
    recorded_at: Sun, 03 Dec 2023 09:27:32 GMT
recorded_with: VCR 6.2.0
