---
http_interactions:
- request:
    method: get
    uri: https://www.virustotal.com/api/v3/intelligence/search?query=entity:url%20ls:%222021-09-18T01:00:00%2B%22%20url:example
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Apikey:
      - "<VIRUSTOTAL_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Cloud-Trace-Context:
      - 5ec2c43fcdf2c35fab90ddbca61d45b6
    body:
      encoding: UTF-8
      string: |-
        {
            "meta": {
                "cursor": "eJwFwbEOwiAQBuBXKgd0c9FSg8lPozlpuNUO9VomBw3pw_t9pidneuOpP-YWCC146MtieH7i5bZNHLzUu5Ma3MTLihp-qRUPyqvouKeGL_isiYoTXt6gaKHFpmvsMORN5kctHKm0rMKjisLFvTsdf7fpJfI=",
                "total_hits": 15,
                "allowed_orders": [
                    "first_submission_date",
                    "last_submission_date",
                    "positives",
                    "times_submitted",
                    "status"
                ],
                "days_back": 90
            },
            "data": [
                {
                    "attributes": {
                        "last_modification_date": 1631936144,
                        "times_submitted": 30198,
                        "total_votes": {
                            "harmless": 0,
                            "malicious": 0
                        },
                        "threat_names": [],
                        "last_submission_date": 1631935834,
                        "last_http_response_content_length": 7522,
                        "last_http_response_headers": {
                            "content-length": "7522",
                            "vary": "Accept-Encoding",
                            "keep-alive": "timeout=5, max=100",
                            "server": "Apache/2.4.18 (Ubuntu)",
                            "connection": "Keep-Alive",
                            "date": "Sat, 18 Sep 2021 03:30:36 GMT",
                            "access-control-allow-origin": "*",
                            "access-control-allow-methods": "GET, POST, PUT, DELETE, OPTIONS",
                            "content-type": "text/html; charset=UTF-8"
                        },
                        "reputation": 0,
                        "tags": [],
                        "last_analysis_date": 1631935834,
                        "has_content": false,
                        "first_submission_date": 1375866558,
                        "categories": {
                            "Comodo Valkyrie Verdict": "online services",
                            "alphaMountain.ai": "Hosting"
                        },
                        "last_http_response_content_sha256": "e858962808d22fee76a76819bfaba6c2a6b02305959bfcf4622028278e3a90e8",
                        "last_http_response_code": 200,
                        "last_final_url": "http://example.it/",
                        "url": "http://example.it/",
                        "title": "example.it",
                        "last_analysis_stats": {
                            "harmless": 79,
                            "malicious": 0,
                            "suspicious": 0,
                            "undetected": 11,
                            "timeout": 0
                        },
                        "last_analysis_results": {
                            "CMC Threat Intelligence": {
                                "category": "harmless",
                                "result": "clean",
                                "method": "blacklist",
                                "engine_name": "CMC Threat Intelligence"
                            },
                            "Snort IP sample list": {
                                "category": "harmless",
                                "result": "clean",
                                "method": "blacklist",
                                "engine_name": "Snort IP sample list"
                            },
                            "VX Vault": {
                                "category": "harmless",
                                "result": "clean",
                                "method": "blacklist",
                                "engine_name": "VX Vault"
                            },
                            "Armis": {
                                "category": "harmless",
                                "result": "clean",
                                "method": "blacklist",
                                "engine_name": "Armis"
                            },
                            "Comodo Valkyrie Verdict": {
                                "category": "undetected",
                                "result": "unrated",
                                "method": "blacklist",
                                "engine_name": "Comodo Valkyrie Verdict"
                            },
                            "PhishLabs": {
                                "category": "undetected",
                                "result": "unrated",
                                "method": "blacklist",
                                "engine_name": "PhishLabs"
                            },
                            "K7AntiVirus": {
                                "category": "harmless",
                                "result": "clean",
                                "method": "blacklist",
                                "engine_name": "K7AntiVirus"
                            },
                            "CINS Army": {
                                "category": "harmless",
                                "result": "clean",
                                "method": "blacklist",
                                "engine_name": "CINS Army"
                            },
                            "Cyren": {
                                "category": "harmless",
                                "result": "clean",
                                "method": "blacklist",
                                "engine_name": "Cyren"
                            },
                            "Quttera": {
                                "category": "harmless",
                                "result": "clean",
                                "method": "blacklist",
                                "engine_name": "Quttera"
                            },
                            "BlockList": {
                                "category": "harmless",
                                "result": "clean",
                                "method": "blacklist",
                                "engine_name": "BlockList"
                            },
                            "OpenPhish": {
                                "category": "harmless",
                                "result": "clean",
                                "method": "blacklist",
                                "engine_name": "OpenPhish"
                            },
                            "0xSI_f33d": {
                                "category": "undetected",
                                "result": "unrated",
                                "method": "blacklist",
                                "engine_name": "0xSI_f33d"
                            },
                            "Feodo Tracker": {
                                "category": "harmless",
                                "result": "clean",
                                "method": "blacklist",
                                "engine_name": "Feodo Tracker"
                            },
                            "Web Security Guard": {
                                "category": "harmless",
                                "result": "clean",
                                "method": "blacklist",
                                "engine_name": "Web Security Guard"
                            },
                            "Scantitan": {
                                "category": "harmless",
                                "result": "clean",
                                "method": "blacklist",
                                "engine_name": "Scantitan"
                            },
                            "AlienVault": {
                                "category": "harmless",
                                "result": "clean",
                                "method": "blacklist",
                                "engine_name": "AlienVault"
                            },
                            "Sophos": {
                                "category": "harmless",
                                "result": "clean",
                                "method": "blacklist",
                                "engine_name": "Sophos"
                            },
                            "Phishtank": {
                                "category": "harmless",
                                "result": "clean",
                                "method": "blacklist",
                                "engine_name": "Phishtank"
                            },
                            "EonScope": {
                                "category": "harmless",
                                "result": "clean",
                                "method": "blacklist",
                                "engine_name": "EonScope"
                            },
                            "Cyan": {
                                "category": "undetected",
                                "result": "unrated",
                                "method": "blacklist",
                                "engine_name": "Cyan"
                            },
                            "Spam404": {
                                "category": "harmless",
                                "result": "clean",
                                "method": "blacklist",
                                "engine_name": "Spam404"
                            },
                            "SecureBrain": {
                                "category": "harmless",
                                "result": "clean",
                                "method": "blacklist",
                                "engine_name": "SecureBrain"
                            },
                            "Hoplite Industries": {
                                "category": "harmless",
                                "result": "clean",
                                "method": "blacklist",
                                "engine_name": "Hoplite Industries"
                            },
                            "CRDF": {
                                "category": "harmless",
                                "result": "clean",
                                "method": "blacklist",
                                "engine_name": "CRDF"
                            },
                            "Rising": {
                                "category": "harmless",
                                "result": "clean",
                                "method": "blacklist",
                                "engine_name": "Rising"
                            },
                            "StopForumSpam": {
                                "category": "harmless",
                                "result": "clean",
                                "method": "blacklist",
                                "engine_name": "StopForumSpam"
                            },
                            "Fortinet": {
                                "category": "harmless",
                                "result": "clean",
                                "method": "blacklist",
                                "engine_name": "Fortinet"
                            },
                            "alphaMountain.ai": {
                                "category": "harmless",
                                "result": "clean",
                                "method": "blacklist",
                                "engine_name": "alphaMountain.ai"
                            },
                            "Lionic": {
                                "category": "harmless",
                                "result": "clean",
                                "method": "blacklist",
                                "engine_name": "Lionic"
                            },
                            "Virusdie External Site Scan": {
                                "category": "harmless",
                                "result": "clean",
                                "method": "blacklist",
                                "engine_name": "Virusdie External Site Scan"
                            },
                            "Artists Against 419": {
                                "category": "harmless",
                                "result": "clean",
                                "method": "blacklist",
                                "engine_name": "Artists Against 419"
                            },
                            "Google Safebrowsing": {
                                "category": "harmless",
                                "result": "clean",
                                "method": "blacklist",
                                "engine_name": "Google Safebrowsing"
                            },
                            "SafeToOpen": {
                                "category": "undetected",
                                "result": "unrated",
                                "method": "blacklist",
                                "engine_name": "SafeToOpen"
                            },
                            "ADMINUSLabs": {
                                "category": "harmless",
                                "result": "clean",
                                "method": "blacklist",
                                "engine_name": "ADMINUSLabs"
                            },
                            "CyberCrime": {
                                "category": "harmless",
                                "result": "clean",
                                "method": "blacklist",
                                "engine_name": "CyberCrime"
                            },
                            "AutoShun": {
                                "category": "undetected",
                                "result": "unrated",
                                "method": "blacklist",
                                "engine_name": "AutoShun"
                            },
                            "Trustwave": {
                                "category": "harmless",
                                "result": "clean",
                                "method": "blacklist",
                                "engine_name": "Trustwave"
                            },
                            "AICC (MONITORAPP)": {
                                "category": "harmless",
                                "result": "clean",
                                "method": "blacklist",
                                "engine_name": "AICC (MONITORAPP)"
                            },
                            "CyRadar": {
                                "category": "harmless",
                                "result": "clean",
                                "method": "blacklist",
                                "engine_name": "CyRadar"
                            },
                            "Dr.Web": {
                                "category": "harmless",
                                "result": "clean",
                                "method": "blacklist",
                                "engine_name": "Dr.Web"
                            },
                            "Emsisoft": {
                                "category": "harmless",
                                "result": "clean",
                                "method": "blacklist",
                                "engine_name": "Emsisoft"
                            },
                            "Abusix": {
                                "category": "harmless",
                                "result": "clean",
                                "method": "blacklist",
                                "engine_name": "Abusix"
                            },
                            "Webroot": {
                                "category": "harmless",
                                "result": "clean",
                                "method": "blacklist",
                                "engine_name": "Webroot"
                            },
                            "Avira": {
                                "category": "harmless",
                                "result": "clean",
                                "method": "blacklist",
                                "engine_name": "Avira"
                            },
                            "securolytics": {
                                "category": "harmless",
                                "result": "clean",
                                "method": "blacklist",
                                "engine_name": "securolytics"
                            },
                            "Antiy-AVL": {
                                "category": "harmless",
                                "result": "clean",
                                "method": "blacklist",
                                "engine_name": "Antiy-AVL"
                            },
                            "Quick Heal": {
                                "category": "harmless",
                                "result": "clean",
                                "method": "blacklist",
                                "engine_name": "Quick Heal"
                            },
                            "DNS8": {
                                "category": "harmless",
                                "result": "clean",
                                "method": "blacklist",
                                "engine_name": "DNS8"
                            },
                            "benkow.cc": {
                                "category": "harmless",
                                "result": "clean",
                                "method": "blacklist",
                                "engine_name": "benkow.cc"
                            },
                            "EmergingThreats": {
                                "category": "harmless",
                                "result": "clean",
                                "method": "blacklist",
                                "engine_name": "EmergingThreats"
                            },
                            "Yandex Safebrowsing": {
                                "category": "harmless",
                                "result": "clean",
                                "method": "blacklist",
                                "engine_name": "Yandex Safebrowsing"
                            },
                            "MalwareDomainList": {
                                "category": "harmless",
                                "result": "clean",
                                "method": "blacklist",
                                "engine_name": "MalwareDomainList"
                            },
                            "Lumu": {
                                "category": "undetected",
                                "result": "unrated",
                                "method": "blacklist",
                                "engine_name": "Lumu"
                            },
                            "zvelo": {
                                "category": "harmless",
                                "result": "clean",
                                "method": "blacklist",
                                "engine_name": "zvelo"
                            },
                            "Kaspersky": {
                                "category": "harmless",
                                "result": "clean",
                                "method": "blacklist",
                                "engine_name": "Kaspersky"
                            },
                            "Malware Domain Blocklist": {
                                "category": "harmless",
                                "result": "clean",
                                "method": "blacklist",
                                "engine_name": "Malware Domain Blocklist"
                            },
                            "desenmascara.me": {
                                "category": "harmless",
                                "result": "clean",
                                "method": "blacklist",
                                "engine_name": "desenmascara.me"
                            },
                            "URLhaus": {
                                "category": "harmless",
                                "result": "clean",
                                "method": "blacklist",
                                "engine_name": "URLhaus"
                            },
                            "PREBYTES": {
                                "category": "harmless",
                                "result": "clean",
                                "method": "blacklist",
                                "engine_name": "PREBYTES"
                            },
                            "Sucuri SiteCheck": {
                                "category": "harmless",
                                "result": "clean",
                                "method": "blacklist",
                                "engine_name": "Sucuri SiteCheck"
                            },
                            "Blueliv": {
                                "category": "harmless",
                                "result": "clean",
                                "method": "blacklist",
                                "engine_name": "Blueliv"
                            },
                            "Netcraft": {
                                "category": "undetected",
                                "result": "unrated",
                                "method": "blacklist",
                                "engine_name": "Netcraft"
                            },
                            "ZeroCERT": {
                                "category": "harmless",
                                "result": "clean",
                                "method": "blacklist",
                                "engine_name": "ZeroCERT"
                            },
                            "Phishing Database": {
                                "category": "harmless",
                                "result": "clean",
                                "method": "blacklist",
                                "engine_name": "Phishing Database"
                            },
                            "MalwarePatrol": {
                                "category": "harmless",
                                "result": "clean",
                                "method": "blacklist",
                                "engine_name": "MalwarePatrol"
                            },
                            "MalBeacon": {
                                "category": "harmless",
                                "result": "clean",
                                "method": "blacklist",
                                "engine_name": "MalBeacon"
                            },
                            "Sangfor": {
                                "category": "harmless",
                                "result": "clean",
                                "method": "blacklist",
                                "engine_name": "Sangfor"
                            },
                            "IPsum": {
                                "category": "harmless",
                                "result": "clean",
                                "method": "blacklist",
                                "engine_name": "IPsum"
                            },
                            "Spamhaus": {
                                "category": "harmless",
                                "result": "clean",
                                "method": "blacklist",
                                "engine_name": "Spamhaus"
                            },
                            "Malwared": {
                                "category": "harmless",
                                "result": "clean",
                                "method": "blacklist",
                                "engine_name": "Malwared"
                            },
                            "BitDefender": {
                                "category": "harmless",
                                "result": "clean",
                                "method": "blacklist",
                                "engine_name": "BitDefender"
                            },
                            "GreenSnow": {
                                "category": "harmless",
                                "result": "clean",
                                "method": "blacklist",
                                "engine_name": "GreenSnow"
                            },
                            "G-Data": {
                                "category": "harmless",
                                "result": "clean",
                                "method": "blacklist",
                                "engine_name": "G-Data"
                            },
                            "StopBadware": {
                                "category": "undetected",
                                "result": "unrated",
                                "method": "blacklist",
                                "engine_name": "StopBadware"
                            },
                            "SCUMWARE.org": {
                                "category": "harmless",
                                "result": "clean",
                                "method": "blacklist",
                                "engine_name": "SCUMWARE.org"
                            },
                            "malwares.com URL checker": {
                                "category": "harmless",
                                "result": "clean",
                                "method": "blacklist",
                                "engine_name": "malwares.com URL checker"
                            },
                            "NotMining": {
                                "category": "undetected",
                                "result": "unrated",
                                "method": "blacklist",
                                "engine_name": "NotMining"
                            },
                            "Forcepoint ThreatSeeker": {
                                "category": "undetected",
                                "result": "unrated",
                                "method": "blacklist",
                                "engine_name": "Forcepoint ThreatSeeker"
                            },
                            "Certego": {
                                "category": "harmless",
                                "result": "clean",
                                "method": "blacklist",
                                "engine_name": "Certego"
                            },
                            "ESET": {
                                "category": "harmless",
                                "result": "clean",
                                "method": "blacklist",
                                "engine_name": "ESET"
                            },
                            "Threatsourcing": {
                                "category": "harmless",
                                "result": "clean",
                                "method": "blacklist",
                                "engine_name": "Threatsourcing"
                            },
                            "MalSilo": {
                                "category": "harmless",
                                "result": "clean",
                                "method": "blacklist",
                                "engine_name": "MalSilo"
                            },
                            "Nucleon": {
                                "category": "harmless",
                                "result": "clean",
                                "method": "blacklist",
                                "engine_name": "Nucleon"
                            },
                            "BADWARE.INFO": {
                                "category": "harmless",
                                "result": "clean",
                                "method": "blacklist",
                                "engine_name": "BADWARE.INFO"
                            },
                            "ThreatHive": {
                                "category": "harmless",
                                "result": "clean",
                                "method": "blacklist",
                                "engine_name": "ThreatHive"
                            },
                            "FraudScore": {
                                "category": "harmless",
                                "result": "clean",
                                "method": "blacklist",
                                "engine_name": "FraudScore"
                            },
                            "Tencent": {
                                "category": "harmless",
                                "result": "clean",
                                "method": "blacklist",
                                "engine_name": "Tencent"
                            },
                            "Bfore.Ai PreCrime": {
                                "category": "harmless",
                                "result": "clean",
                                "method": "blacklist",
                                "engine_name": "Bfore.Ai PreCrime"
[...]
