---
http_interactions:
- request:
    method: get
    uri: https://internetdb.shodan.io/1.1.1.1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Last-Modified:
      - Mon, 11 Apr 2022 23:42:11 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"cpes":[],"hostnames":["one.one.one.one"],"ip":"1.1.1.1","ports":[53,80,443],"tags":[],"vulns":[]}'
  recorded_at: Mon, 11 Apr 2022 23:42:11 GMT
recorded_with: VCR 6.1.0
