---
http_interactions:
- request:
    method: get
    uri: https://internetdb.shodan.io/120.78.59.202
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Last-Modified:
      - Sat, 13 Jan 2024 06:12:59 GMT
    body:
      encoding: UTF-8
      string: '{"cpes":["cpe:/a:mysql:mysql","cpe:/a:php:php:7.4.8","cpe:/a:apache:http_server:2.4.38","cpe:/a:php:php:7.0.19","cpe:/a:f5:nginx:1.11.13","cpe:/a:wordpress:wordpress","cpe:/a:openbsd:openssh:7.4","cpe:/a:jquery:jquery","cpe:/a:php:php"],"hostnames":["api02t.c.ylt100.cn"],"ip":"120.78.59.202","ports":[22,80,443,3306,8081,8090],"tags":["database","eol-product"],"vulns":["CVE-2019-9516","CVE-2017-11144","CVE-2017-16642","CVE-2019-9020","CVE-2018-17082","CVE-2019-9675","CVE-2019-10098","CVE-2016-1283","CVE-2017-9226","CVE-2017-9229","CVE-2021-26690","CVE-2019-6110","CVE-2023-25690","CVE-2017-12933","CVE-2019-17567","CVE-2018-14851","CVE-2017-7963","CVE-2022-22721","CVE-2020-7070","CVE-2023-27522","CVE-2018-20783","CVE-2019-20372","CVE-2023-38408","CVE-2022-31813","CVE-2020-9490","CVE-2021-44224","CVE-2021-36160","CVE-2020-7069","CVE-2018-10546","CVE-2018-15919",[...]
