---
http_interactions:
- request:
    method: post
    uri: https://api.securitytrails.com/v1/domains/list
    body:
      encoding: UTF-8
      string: '{"filter":{"ipv4":"89.35.39.84"}}'
    headers:
      Apikey:
      - "<ST_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit-Second:
      - '5'
      X-Ratelimit-Remaining-Second:
      - '4'
    body:
      encoding: UTF-8
      string: |-
        {
          "records": [
            {
              "whois": {
                "registrar": null,
                "expiresDate": null,
                "createdDate": null
              },
              "mail_provider": [],
              "hostname": "jppost-bse.top",
              "host_provider": [
                "Parfumuri Femei.com SRL"
              ],
              "computed": {
                "company_name": null
              },
              "alexa_rank": null
            },
            {
              "whois": {
                "registrar": null,
                "expiresDate": null,
                "createdDate": null
              },
              "mail_provider": [],
              "hostname": "jppost-bto.top",
              "host_provider": [
                "Parfumuri Femei.com SRL"
              ],
              "computed": {
                "company_name": null
              },
              "alexa_rank": null
            },
            {
[...]
