---
http_interactions:
- request:
    method: get
    uri: https://api.passivetotal.org/v2/ssl-certificate/history?query=7c552ab044c76d1df4f5ddf358807bfdcd07fa57
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<PASSIVETOTAL_AUTH>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"results": [{"ipAddresses": ["149.13.33.11", "149.13.33.13", "149.13.33.15",
        "149.13.33.4", "149.13.33.9"], "sha1": "7c552ab044c76d1df4f5ddf358807bfdcd07fa57",
        "firstSeen": "2014-07-28", "lastSeen": "2015-12-14"}], "success": true}

        '
  recorded_at: Mon, 07 Oct 2019 09:04:25 GMT
recorded_with: VCR 5.0.0
