---
http_interactions:
- request:
    method: get
    uri: https://ip.circl.lu/geolookup/1.1.1.1
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"country": {"iso_code": "US"}, "meta": {"description": {"en": "Geo
        Open MMDB database - https://github.com/adulau/mmdb-server"}, "build_db":
        "2023-11-20 12:50:37", "db_source": "GeoOpen-Country", "nb_nodes": 1315572},
        "ip": "1.1.1.1", "country_info": {"Country": "United States", "Alpha-2 code":
        "US", "Alpha-3 code": "USA", "Numeric code": "840", "Latitude (average)":
        "38", "Longitude (average)": "-97"}}, {"country": {"iso_code": "US", "AutonomousSystemNumber":
        "13335", "AutonomousSystemOrganization": "CLOUDFLARENET"}, "meta": {"description":
        {"en": "Geo Open MMDB database - https://github.com/adulau/mmdb-server"},
        "build_db": "2023-11-20 15:49:14", "db_source": "GeoOpen-Country-ASN", "nb_nodes":
        1316075}, "ip": "1.1.1.1", "country_info": {"Country": "United States", "Alpha-2
        code": "US", "Alpha-3 code": "USA", "Numeric code": "840", "Latitude (average)":
        "38", "Longitude (average)": "-97"}}]'
  recorded_at: Thu, 28 Dec 2023 11:08:58 GMT
recorded_with: VCR 6.2.0
