---
http_interactions:
- request:
    method: get
    uri: https://otx.alienvault.com/api/v1/indicators/domain/jppost-tu.top/passive_dns
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Otx-Api-Key:
      - "<OTX_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Remote-User-Name:
      - niseki
      X-Otx-Active:
      - '1'
    body:
      encoding: ASCII-8BIT
      string: '{"passive_dns": [{"address": "193.148.69.37", "first": "2019-09-04T05:32:29",
        "last": "2019-09-04T18:16:07", "hostname": "jppost-tu.top", "record_type":
        "A", "indicator_link": "/indicator/domain/jppost-tu.top", "flag_url": "assets/images/flags/de.png",
        "flag_title": "Germany", "asset_type": "domain", "asn": "ASNone "}, {"address":
        "89.35.39.84", "first": "2019-09-02T01:30:07", "last": "2019-09-02T01:30:07",
        "hostname": "jppost-tu.top", "record_type": "A", "indicator_link": "/indicator/domain/jppost-tu.top",
        "flag_url": "assets/images/flags/ro.png", "flag_title": "Romania", "asset_type":
        "domain", "asn": "AS20473 the constant company  llc"}, {"address": "193.148.69.230",
        "first": "2019-08-31T07:14:45", "last": "2019-08-31T07:14:45", "hostname":
        "jppost-tu.top", "record_type": "A", "indicator_link": "/indicator/domain/jppost-tu.top",
        "flag_url": "assets/images/flags/de.png", "flag_title": "Germany", "asset_type":
        "domain", "asn": "ASNone "}, {"address": "51.68.251.30", "first": "2019-07-02T14:17:10",
        "last": "2019-07-02T14:17:10", "hostname": "jppost-tu.top", "record_type":
        "A", "indicator_link": "/indicator/domain/jppost-tu.top", "flag_url": "assets/images/flags/fr.png",
        "flag_title": "France", "asset_type": "domain", "asn": "AS16276 ovh sas"}],
        "count": 4}'
  recorded_at: Sat, 18 Jun 2022 01:05:15 GMT
recorded_with: VCR 6.1.0
