---
http_interactions:
- request:
    method: get
    uri: https://otx.alienvault.com/api/v1/indicators/IPv4/89.35.39.84/passive_dns
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Otx-Api-Key:
      - "<OTX_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Remote-User-Name:
      - niseki
      X-Otx-Active:
      - '1'
    body:
      encoding: ASCII-8BIT
      string: '{"passive_dns": [{"address": "89.35.39.84", "first": "2019-09-02T15:09:30",
        "last": "2019-09-02T20:18:23", "hostname": "jppost-ga.co", "record_type":
        "A", "indicator_link": "/indicator/domain/jppost-ga.co", "flag_url": "assets/images/flags/ro.png",
        "flag_title": "Romania", "asset_type": "domain", "asn": "AS20473 the constant
        company  llc"}, {"address": "89.35.39.84", "first": "2019-09-02T15:09:30",
        "last": "2019-09-02T15:09:30", "hostname": "jppost-gu.co", "record_type":
        "A", "indicator_link": "/indicator/domain/jppost-gu.co", "flag_url": "assets/images/flags/ro.png",
        "flag_title": "Romania", "asset_type": "domain", "asn": "AS20473 the constant
        company  llc"}, {"address": "89.35.39.84", "first": "2019-09-02T14:53:30",
        "last": "2019-09-02T16:14:59[...]
