---
http_interactions:
- request:
    method: get
    uri: https://ipinfo.io/1.1.1.1/json
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer 5dd124a89ed990
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
          "ip": "1.1.1.1",
          "hostname": "one.one.one.one",
          "anycast": true,
          "city": "Miami",
          "region": "Florida",
          "country": "US",
          "loc": "25.7867,-80.1800",
          "postal": "33132",
          "timezone": "America/New_York",
          "asn": {
            "asn": "AS13335",
            "name": "Cloudflare, Inc.",
            "domain": "cloudflare.com",
            "route": "1.1.1.0/24",
            "type": "hosting"
          },
          "company": {
            "name": "APNIC and Cloudflare DNS Resolver project",
            "domain": "cloudflare.com",
            "type": "hosting"
          }
        }
  recorded_at: Mon, 27 Sep 2021 12:15:42 GMT
recorded_with: VCR 6.0.0
