---
http_interactions:
- request:
    method: get
    uri: https://ipinfo.io/1.1.1.1/json
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <IPINFO_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
          "ip": "1.1.1.1",
          "hostname": "one.one.one.one",
          "anycast": true,
          "city": "San Francisco",
          "region": "California",
          "country": "US",
          "loc": "37.7621,-122.3971",
          "postal": "94107",
          "timezone": "America/Los_Angeles",
          "asn": {
            "asn": "AS13335",
            "name": "Cloudflare, Inc.",
            "domain": "cloudflare.com",
            "route": "1.1.1.0/24",
            "type": "hosting"
          },
          "company": {
            "name": "APNIC and Cloudflare DNS Resolver project",
            "domain": "cloudflare.com",
            "type": "hosting"
          }
        }
  recorded_at: Sat, 23 Oct 2021 02:59:11 GMT
recorded_with: VCR 6.0.0
