---
http_interactions:
- request:
    method: get
    uri: https://www.virustotal.com/api/v3/domains/jppost-ge.top/resolutions
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Apikey:
      - "<VIRUSTOTAL_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Cloud-Trace-Context:
      - acef861e5485ca9ce97e3ee7a1b6258e
    body:
      encoding: UTF-8
      string: |-
        {
            "data": [
                {
                    "attributes": {
                        "date": 1565223148,
                        "host_name": "jppost-ge.top",
                        "ip_address": "193.148.69.9",
                        "resolver": "VirusTotal"
                    },
                    "id": "193.148.69.9jppost-ge.top",
                    "links": {
                        "self": "https://www.virustotal.com/api/v3/resolutions/193.148.69.9jppost-ge.top"
                    },
                    "type": "resolution"
                },
                {
                    "attributes": {
                        "date": 1565090428,
                        "host_name": "jppost-ge.top",
                        "ip_address": "45.83.140.140",
                        "resolver": "VirusTotal"
                    },
                    "id": "45.83.140.140jppost-ge.top",
                    "links": {
                        "self": "https://www.virustotal.com/api/v3/resolutions/45.83.140.140jppost-ge[...]
