---
http_interactions:
  - request:
      method: post
      uri: https://api.zoomeye.org/user/login
      body:
        encoding: UTF-8
        string: '{"username":"<ZOOMEYE_USERNAME>","password":"<ZOOMEYE_PASSWORD>"}'
      headers:
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json
        X-Cdn-Edge:
          - 0b7e99c,-
      body:
        encoding: UTF-8
        string: '{"access_token": "CENSORED"}'
    recorded_at: Thu, 17 Oct 2019 05:00:02 GMT
  - request:
      method: get
      uri: https://api.zoomeye.org/web/search?page=1&query=wordpress%20%2Bfoo%20%2Bbar
      body:
        encoding: US-ASCII
        string: ""
      headers:
        Authorization:
          - JWT CENSORED
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json
        Etag:
          - W/"c9d249a9d9658f1b0d1492d2a73c831298f57df2"
        X-Cdn-Edge:
          - 0b7e99c,-
      body:
        encoding: ASCII-8BIT
        string:
          '{"total": 16, "available": 3, "matches": [{"geoinfo": {"city": {"geoname_id":
          null, "names": {"zh-CN": "\u829d\u52a0\u54e5", "en": "Chicago"}}, "country":
          {"geoname_id": null, "code": "US", "names": {"zh-CN": "\u7f8e\u56fd", "en":
          "United States"}}, "isp": "rackspace.com", "asn": "19994", "subdivisions":
          {"geoname_id": null, "code": null, "names": {"zh-CN": "\u4f0a\u5229\u8bfa\u4f0a\u5dde",
          "en": "Illinois"}}, "location": {"lat": "41.878114", "lon": "-87.629798"},
          "organization": null, "aso": null, "continent": {"geoname_id": null, "code":
          "NA", "names": {"zh-CN": "\u5317\u7f8e\u6d32", "en": "North American"}}, "PoweredBy":
          "IPIP", "base_station": "", "organization_CN": null, "idc": "IDC"}, "description":
          "Arlo Leach builds  database-driven\n\t\twebsites and custom mobile apps for
          clients nationwide.", "language": ["PHP"], "title": "Arlo Leach: Custom Web,
          Database and Mobile     \t\t\tApp Development in Portland, Oregon", "ip":
          ["23.253.218.237"], "waf": [], "component": [{"chinese": "PHP", "name": "PHP",
          "version": "5.4.16"}, {"chinese": "openssl", "name": "openssl", "version":
          "1.0.2k"}], "system": [{"chinese": "CentOS", "distrib": "CentOS", "release":
          null, "name": "Linux"}], "site": "www.arlomedia.com", "db": [], "headers":
          "HTTP/1.1 200 OK\r\nDate: Wed, 25 Sep 2019 09:25:06 GMT\r\nServer: Apache/2.4.6
          (CentOS) OpenSSL/1.0.2k-fips PHP/5.4.16\r\nX-Powered-By: PHP/5.4.16\r\nFoo:
          bar\r\nSet-Cookie: Contemplate=visitor_ID%3DFNQgt90jG53dbrpn-20190925022506;
          Expires=Sat, 22 Sep 2029 00:00:00 GMT; Path=/; Version=1\r\nContent-Length:
          5482\r\nKeep-Alive: timeout=15, max=100\r\nConnection: Keep-Alive\r\nContent-Type:
          text/html; charset=UTF-8\r\n", "framework": [], "timestamp": "2019-09-25T17:28:34.973622",
          "keywords": "website, web development, web programming,\n\t\t\t\tdatabase
          development, custom, iPhone, iPad, apps, iOS, Android, PHP, MySQL,\n\t\t\t\tLinux,
          Apache, HTML, JavaScript, CSS, content management, e-commerce,\n\t\t\t\tPortland,
          Oregon, Chicago", "webapp": [{"chinese": "WordPress", "name": "WordPress",
          "rules": ["http://www.arlomedia.com/blog/"], "version": "3.0.1", "url": "http://www.arlomedia.com/blog/"}],
          "server": [{"chinese": "Apache httpd", "name": "Apache httpd", "version":
          "2.4.6"}], "domains": ["wordpress.org", "www.commoncraft.com", "www.businessweek.com",
          "www.bdavis-designs.com"]}, {"description": "", "language": ["PHP"], "title":
          "</title> \t<!--[if lte IE 8]><script type=\"text/javascript\" src=\"http://c-star.com/wp-content/themes/Avada/assets/js/html5shiv.js\"></script><![endif]-->
          \t<link href=''https://fonts.googleapis.com/css?family=Playfair+Display:400,400italic''
          rel=''stylesheet'' type=''text/css''>\t<!-- <link href=''https://fonts.googleapis.com/css?family=Marcellus''
          rel=''stylesheet'' type=''text/css''> --> \t\t\t\t\t\t\t<meta name=\"viewport\"
          content=\"width=device-width, initial-scale=1\" /> \t\t\t\t\t\t<link rel=\"shortcut
          icon\" href=\"http://c-star.com/wp-content/uploads/2016/01/logo.png\" type=\"image/x-icon\"
          /> \t\t\t\t\t\t<title>Cstar Property Management &#8211; Just one more <CENSYS_AUTH>",
          "ip": ["192.185.154.25"], "waf": [], "component": [], "system": [], "site":
          "c-star.com", "db": [{"chinese": "MySQL", "name": "MySQL", "version": null}],
          "headers": "HTTP/1.1 200 OK\r\nDate: Thu, 12 Sep 2019 02:25:03 GMT\r\nServer:
          nginx/1.17.3\r\nContent-Type: text/html; charset=UTF-8\r\nP3P: CP=\"ALL DSP
          NID CURa ADMa DEVa HISa OTPa OUR NOR NAV DEM\"\r\nLink: <http://c-star.com/wp-json/>;
          rel=\"https://api.w.org/\", <http://c-star.[...]
  - request:
      method: get
      uri: https://api.zoomeye.org/web/search?page=2&query=wordpress%20%2Bfoo%20%2Bbar
      body:
        encoding: US-ASCII
        string: ""
      headers:
        Authorization:
          - JWT CENSORED
    response:
      status:
        code: 403
        message: Forbidden
      headers:
        Content-Type:
          - application/json
        X-Cdn-Edge:
          - 0b7e99c,-
      body:
        encoding: UTF-8
        string:
          '{"error": "forbidden", "message": "provided credentials do not provide
          access to specified resource", "url": "https://www.zoomeye.org/api"}'
    recorded_at: Thu, 17 Oct 2019 05:00:04 GMT
recorded_with: VCR 5.0.0
