---
http_interactions:
  - request:
      method: get
      uri: https://api.hunter.how//search?api-key=<HUNTERHOW_API_KEY>&end_time=2023-08-31&page=1&page_size=100&query=aXA6IjEuMS4xLjEi&start_time=2023-08-01
      body:
        encoding: US-ASCII
        string: ""
      headers:
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json; charset=utf-8
      body:
        encoding: ASCII-8BIT
        string: '{"code":200,"data":{"list":[{"domain":"","ip":"1.1.1.1","port":80},{"domain":"","ip":"1.1.1.1","port":443},{"domain":"rgdkagqaaltpqelfom3c26bygywtmna.h.nessus.org","ip":"1.1.1.1","port":80},{"domain":"","ip":"1.1.1.1","port":2096},{"domain":"","ip":"1.1.1.1","port":2095},{"domain":"rfz27laaalcd4e3xnfxc26bygywtmna.h.nessus.org","ip":"1.1.1.1","port":2095},{"domain":"","ip":"1.1.1.1","port":2087},{"domain":"","ip":"1.1.1.1","port":2083},{"domain":"","ip":"1.1.1.1","port":8443},{"domain":"rfk4vdiaalcqkilxnfxc26bygywtmna.h.nessus.org","ip":"1.1.1.1","port":2095[...]
