---
http_interactions:
  - request:
      method: get
      uri: https://api.securitytrails.com/v1/history/jppost-tu.top/dns/a?page=1
      body:
        encoding: US-ASCII
        string: ""
      headers:
        Apikey:
          - "<SECURITYTRAILS_API_KEY>"
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json; charset=utf-8
        X-Ratelimit-Limit-Second:
          - "5"
        X-Ratelimit-Remaining-Second:
          - "4"
      body:
        encoding: UTF-8
        string: |-
          {
            "type": "a/ipv4",
            "records": [
              {
                "values": [
                  {
                    "ip_count": 5,
                    "ip": "89.35.39.84"
                  }
                ],
                "type": "a",
                "organizations": [
                  "Parfumuri Femei.com SRL"
                ],
                "last_seen": "2019-09-03",
                "first_seen": "2019-08-31"
              },
              {
                "values": [
                  {
                    "ip_count": 1,
                    "ip": "45.14.148.103"
                  }
                ],
                "type": "a",
                "organizations": [],
                "last_seen": "2019-08-31",
                "first_seen": "2019-08-09"
              },
              {
                "values": [
                  {
                    "ip_count": 3,
                    "ip": "193.148.69.9"
                  }
                ],
                "type": "a",
                "organizations": [
                  "Parfumuri Femei.com SRL"
                ],
                "last_seen": "2019-08-09",
                "first_seen": "2019-08-08"
              }
            ],
            "pages": 1,
            "endpoint": "/v1/history/jppost-tu.top/dns/a"
          }
    recorded_at: Tue, 03 Sep 2019 08:10:41 GMT
recorded_with: VCR 5.0.0
