---
http_interactions:
- request:
    method: get
    uri: https://dns.google/resolve?name=example.com&type=ALL
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"Status":0,"TC":false,"RD":true,"RA":true,"AD":true,"CD":false,"Question":[{"name":"example.com.","type":255}],"Answer":[{"name":"example.com.","type":1,"TTL":4773,"data":"93.184.216.34"},{"name":"example.com.","type":46,"TTL":4773,"data":"a
        13 2 86400 1704957683 1703161351 21021 example.com. rmXjBBcCcGSu349w9aomUgK3OV68oqW5bSv9/E0ZaZPjJ9+NNyfH0C+qVDYZLRovwUxJAXhdbRE/1T9oKIghow=="}]}'
  recorded_at: Mon, 01 Jan 2024 05:02:31 GMT
recorded_with: VCR 6.2.0
