---
http_interactions:
- request:
    method: get
    uri: https://dns.google/resolve?name=dummy.artifact.example.com&type=A
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"Status":3,"TC":false,"RD":true,"RA":true,"AD":true,"CD":false,"Question":[{"name":"dummy.artifact.example.com.","type":1}],"Authority":[{"name":"example.com.","type":6,"TTL":746,"data":"ns.icann.org.
        noc.dns.icann.org. 2022040434 7200 3600 1209600 3600"}]}'
  recorded_at: Tue, 31 May 2022 08:48:43 GMT
- request:
    method: get
    uri: https://dns.google/resolve?name=dummy.artifact.example.com&type=AAAA
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"Status":3,"TC":false,"RD":true,"RA":true,"AD":true,"CD":false,"Question":[{"name":"dummy.artifact.example.com.","type":28}],"Authority":[{"name":"example.com.","type":6,"TTL":746,"data":"ns.icann.org.
        noc.dns.icann.org. 2022040434 7200 3600 1209600 3600"}]}'
  recorded_at: Tue, 31 May 2022 08:48:43 GMT
- request:
    method: get
    uri: https://dns.google/resolve?name=dummy.artifact.example.com&type=CNAME
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"Status":3,"TC":false,"RD":true,"RA":true,"AD":true,"CD":false,"Question":[{"name":"dummy.artifact.example.com.","type":5}],"Authority":[{"name":"example.com.","type":6,"TTL":746,"data":"ns.icann.org.
        noc.dns.icann.org. 2022040434 7200 3600 1209600 3600"}]}'
  recorded_at: Tue, 31 May 2022 08:48:43 GMT
- request:
    method: get
    uri: https://dns.google/resolve?name=dummy.artifact.example.com&type=TXT
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"Status":3,"TC":false,"RD":true,"RA":true,"AD":true,"CD":false,"Question":[{"name":"dummy.artifact.example.com.","type":16}],"Authority":[{"name":"example.com.","type":6,"TTL":372,"data":"ns.icann.org.
        noc.dns.icann.org. 2022040434 7200 3600 1209600 3600"}]}'
  recorded_at: Tue, 31 May 2022 08:48:43 GMT
- request:
    method: get
    uri: https://dns.google/resolve?name=dummy.artifact.example.com&type=NS
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"Status":3,"TC":false,"RD":true,"RA":true,"AD":true,"CD":false,"Question":[{"name":"dummy.artifact.example.com.","type":2}],"Authority":[{"name":"example.com.","type":6,"TTL":997,"data":"ns.icann.org.
        noc.dns.icann.org. 2022040434 7200 3600 1209600 3600"}]}'
  recorded_at: Tue, 31 May 2022 08:48:43 GMT
recorded_with: VCR 6.1.0
