---
http_interactions:
- request:
    method: get
    uri: https://ipinfo.io/1.1.1.1/json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <IPINFO_API_KEY>
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "status": 403,
          "error": {
            "title": "Unknown token",
            "message": "Please ensure you've entered your token correctly. Refer to https://ipinfo.io/developers for details, or contact us at support@ipinfo.io for help"
          }
        }
  recorded_at: Sat, 11 Feb 2023 07:09:45 GMT
recorded_with: VCR 6.1.0
