---
http_interactions:
- request:
    method: get
    uri: https://api.passivetotal.org/v2/dns/passive/unique?query=jppost-tu.top
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<PASSIVETOTAL_AUTH>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"queryType": "domain", "pager": null, "queryValue": "jppost-tu.top",
        "total": 9, "results": ["45.134.145.17", "193.148.69.9", "193.148.69.37",
        "45.14.148.103", "193.148.69.230", "192.236.200.43", "45.83.140.140", "192.154.214.94",
        "89.35.39.84"], "frequency": [["45.134.145.17", 1], ["193.148.69.9", 1], ["193.148.69.37",
        1], ["45.14.148.103", 1], ["193.148.69.230", 1], ["192.236.200.43", 1], ["45.83.140.140",
        1], ["192.154.214.94", 1], ["89.35.39.84", 1]]}

        '
  recorded_at: Mon, 07 Oct 2019 09:04:22 GMT
recorded_with: VCR 5.0.0
