---
http_interactions:
- request:
    method: get
    uri: https://otx.alienvault.com/api/v1/indicators/IPv4/89.35.39.84/passive_dns
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Otx-Api-Key:
      - "<OTX_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Otx-Active:
      - '1'
    body:
      encoding: ASCII-8BIT
      string: '{"passive_dns": [{"flag_url": "assets/images/ro.png", "record_type":
        "A", "last": "2019-09-02T15:09:30+00:00", "flag_title": "Romania", "address":
        "89.35.39.84", "indicator_link": "/indicator/domain/jppost-gu.co", "hostname":
        "jppost-gu.co", "asset_type": "domain", "first": "2019-09-02T15:09:30+00:00"},
        {"flag_url": "assets/images/ro.png", "record_type": "A", "last": "2019-09-02T20:18:23+00:00",
        "flag_title": "Romania", "address": "89.35.39.84", "indicator_link": "/indicator/domain/jppost-ga.co",
        "hostname": "jppost-ga.co", "asset_type": "domain", "first": "2019-09-02T15:09:30+00:00"},
        {"flag_url": "assets/images/ro.png", "record_type": "A", "last": "2019-09-02T16:14:59+00:00",
        "flag_title": "Romania", "address": "89.35.39.8[...]
