---
http_interactions:
- request:
    method: get
    uri: https://crt.sh/?output=json&q=crt.sh
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ccacdn-Proxy-Id:
      - scdpinlb3
    body:
      encoding: UTF-8
      string: '[{"issuer_ca_id":105492,"issuer_name":"C=GB, ST=Greater Manchester,
        L=Salford, O=Sectigo Limited, CN=Sectigo RSA Extended Validation Secure Server
        CA","name_value":"crt.sh","min_cert_id":1727279813,"min_entry_timestamp":"2019-07-31T22:10:46.578","not_before":"2019-07-31T00:00:00","not_after":"2021-07-30T23:59:59"},{"issuer_ca_id":105492,"issuer_name":"C=GB,
        ST=Greater Manchester, L=Salford, O=Sectigo Limited, CN=Sectigo RSA Extended
        Validation Secure Server CA","name_value":"crt.sh","min_cert_id":1727239898,"min_entry_timestamp":"2019-07-31T22:10:32.477","not_before":"2019-07-31T00:00:00","not_after":"2021-07-30T23:59:59"},{"issuer_ca_id":1582,"issuer_name":"C=GB,
        ST=Greater Manchester, L=Salford, O=COMODO CA Limited, CN=COMODO ECC Domain
        Validation S[...]
