---
http_interactions:
- request:
    method: get
    uri: https://crt.sh/?exclude=expired&identity=crt.sh&output=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ccacdn-Proxy-Id:
      - bddpinlb2
    body:
      encoding: UTF-8
      string: '[{"issuer_ca_id":1582,"issuer_name":"C=GB, ST=Greater Manchester, L=Salford,
        O=COMODO CA Limited, CN=COMODO ECC Domain Validation Secure Server CA 2","name_value":"*.crt.sh\ncrt.sh","id":2202554056,"entry_timestamp":"2019-12-07T03:55:53.116","not_before":"2019-12-07T00:00:00","not_after":"2020-06-14T23:59:59"},{"issuer_ca_id":1582,"issuer_name":"C=GB,
        ST=Greater Manchester, L=Salford, O=COMODO CA Limited, CN=COMODO ECC Domain
        Validation Secure Server CA 2","name_value":"*.crt.sh\ncrt.sh","id":2202552535,"entry_timestamp":"2019-12-07T03:55:32.759","not_before":"2019-12-07T00:00:00","not_after":"2020-06-14T23:59:59"},{"issuer_ca_id":7967,"issuer_name":"C=GB,
        ST=Greater Manchester, L=Salford, O=COMODO CA Limited, CN=COMODO RSA Domain
        Validation Secur[...]
