---
http_interactions:
- request:
    method: get
    uri: https://urlscan.io/api/v1/pro/result/a731f865-6a2d-480f-ab06-d9415014015e/similar
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Api-Key:
      - "<URLSCAN_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"1d887-PLOcuuieOmywcoqzi8Dg2pdsmTE"
      X-Proxy-Cache:
      - MISS
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "results": [
            {
              "indexedAt": "2020-10-15T13:46:19.215Z",
              "task": {
                "visibility": "public",
                "method": "manual",
                "domain": "191.101.231.137",
                "time": "2020-10-15T13:45:56.809Z",
                "uuid": "e358406b-32c7-4cd2-963e-c02f7883a9d8",
                "url": "http://191.101.231.137"
              },
              "stats": {
                "uniqIPs": 7,
                "consoleMsgs": 2,
                "uniqCountries": 2,
                "dataLength": 2887058,
                "encodedDataLength": 1264224,
                "requests": 51
              },
              "page": {
                "country": "US",
                "server": "Apache/2.4.18 (Ubuntu)",
                "city": "Los Angeles",
                "domain": "191.101.231.137",
                "ip": "191.101.231.137",
                "mimeType": "text/html",
                "asnname": "ASDETUK http://www.heficed.com, GB",
                "asn": "AS61317",
                "url": "http://191.101.231.137/",
                "status": "200"
              },
              "_id": "e358406b-32c7-4cd2-963e-c02f7883a9d8",
              "sort": [
                1602769556809,
                "e358406b-32c7-4cd2-963e-c02f7883a9d8"
              ],
              "result": "https://urlscan.io/api/v1/result/e358406b-32c7-4cd2-963e-c02f7883a9d8/",
              "screenshot": "https://urlscan.io/screenshots/e358406b-32c7-4cd2-963e-c02f7883a9d8.png"
            },
            {
              "indexedAt": "2020-10-15T13:46:17.725Z",
              "task": {
                "visibility": "public",
                "method": "manual",
                "domain": "191.101.231.136",
                "time": "2020-10-15T13:45:54.706Z",
                "uuid": "8059ea44-0ae5-4010-960c-a756842477cf",
                "url": "http://191.101.231.136"
              },
              "[...]
