---
http_interactions:
- request:
    method: get
    uri: https://urlscan.io/api/v1/pro/result/a731f865-6a2d-480f-ab06-d9415014015e/similar/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Api-Key:
      - "<URLSCAN_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"20a31-vuLz0dcr8omxmr0Rtplzf8eTC2w"
      X-Proxy-Cache:
      - MISS
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "results": [
            {
              "submitter": {
                "country": "KR"
              },
              "indexedAt": "2021-04-16T15:39:08.132Z",
              "task": {
                "visibility": "public",
                "method": "api",
                "domain": "106.104.74.158",
                "time": "2021-04-16T15:38:38.755Z",
                "uuid": "6b8da40a-2a7b-4f9c-873a-ca5cee69662e",
                "url": "http://106.104.74.158"
              },
              "stats": {
                "uniqIPs": 6,
                "consoleMsgs": 2,
                "uniqCountries": 2,
                "dataLength": 1999786,
                "encodedDataLength": 1824155,
                "requests": 58
              },
              "page": {
                "country": "TW",
                "server": "Apache/2.4.23 (Win32) OpenSSL/1.0.2j PHP/5.4.45",
                "city": "New Taipei",
                "domain": "106.104.74.158",
                "ip": "106.104.74.158",
                "mimeType": "text/html",
                "asnname": "SEEDNET Digital United Inc., TW",
                "asn": "AS4780",
                "url": "http://106.104.74.158/",
                "status": "200"
              },
              "_id": "6b8da40a-2a7b-4f9c-873a-ca5cee69662e",
              "sort": [
                1618587518755,
                "6b8da40a-2a7b-4f9c-873a-ca5cee69662e"
              ],
              "result": "https://urlscan.io/api/v1/result/6b8da40a-2a7b-4f9c-873a-ca5cee69662e/",
              "screenshot": "https://urlscan.io/screenshots/6b8da40a-2a7b-4f9c-873a-ca5cee69662e.png"
            },
            {
              "submitter": {
                "country": "KR"
              },
              "indexedAt": "2021-04-16T11:29:28.846Z",
              "task": {
                "visibility": "public",
                "method": "api",
                "domain": "114.37.239.84",
                "time": "2021-04-16T11:29:00.099Z",
                "uuid": "40ea3700-df32-4ffc-bfab-19b6dd15f0cb",
                "url": "http://114.37.239.84"
              },
              "stats": {
                "uniqIPs": 7,
                "consoleMsgs": 2,
                "uniqCountries": 2,
                "dataLength": 1999348,
                "encodedDataLength": 1822929,
                "requests": 59
              },
              "page": {
                "country": "TW",
                "server": "Apache/2.4.23 (Win32) OpenSSL/1.0.2j PHP/5.4.45",
                "city": "Tainan City",
                "domain": "114.37.239.84",
                "ip": "114.37.239.84",
                "mimeType": "text/html",
                "asnname": "HINET Data Communication Business Group, TW",
                "asn": "AS3462",
                "url": "http://114.37.239.84/",
                "ptr": "114-37-239-84.dynamic-ip.hinet.net",
                "status": "200"
              },
              "_id": "40ea3700-df32-4ffc-bfab-19b6dd15f0cb",
              "sort": [
                1618572540099,
                "40ea3700-df32-4ffc-bfab-19b6dd15f0cb"
              ],
              "result": "https://urlscan.io/api/v1/result/40ea3700-df32-4ffc-bfab-19b6dd15f0cb/",
              "screenshot": "https://urlscan.io/screenshots/40ea3700-df32-4ffc-bfab-19b6dd15f0cb.png"
            },
         [...]
