---
http_interactions:
- request:
    method: get
    uri: https://app.validin.com/api/axon/domain/dns/history/1.1.1.1/A
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      Authorization:
      - Bearer <VALIDIN_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Last-Modified:
      - Tuesday, 16-Apr-2024 23:16:43 GMT
    body:
      encoding: UTF-8
      string: '{"key":"1.1.1.1","effective_opts":{"type":"dom","limit":1000,"wildcard":false,"parent":false,"categories_include":["A"]},"status":"finished","query_key":"1.1.1.1","records":{},"records_returned":0,"limited":false,"error":null}'
  recorded_at: Tue, 16 Apr 2024 23:16:43 GMT
recorded_with: VCR 6.2.0
