---
http_interactions:
- request:
    method: get
    uri: https://pulsedive.com/api/info.php?indicator=one.one.one.one&key=<PULSEDIVE_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"iid":7274049,"type":"domain","indicator":"one.one.one.one","risk":"unknown","risk_recommended":"unknown","manualrisk":0,"retired":null,"stamp_added":"2019-11-14
        02:25:18","stamp_updated":"2019-11-15 23:40:28","stamp_seen":"2019-11-15 23:40:29","stamp_probed":null,"stamp_retired":null,"recent":0,"domain":"one.one","domainiid":"7307079","attributes":{"hosttype":["Subdomain"]},"properties":{"dns":{"A":["1.0.0.1","1.1.1.1"],"AAAA":["2606:4700:4700::1001","2606:4700:4700::1111"]},"geo":{"country":"Denmark","countrycode":"dk","org":"One.com
        A\/S"},"whois":{"++email":"Please query the RDDS service of the Registrar
        of Record identified in this output for information on how to contact the
        Registrant, Admin, or Tech contact of the queried domain name.","++expires":"2020-05-20
        00:00:00","++registered":"2015-05-20 00:00:00","++registrant":"Please query
        the RDDS service of the Registrar of Record identified in this output for
        information on how to contact the Registrant, Admin, or Tech contact of the
        queried domain name.","++registrar":"One.com A\/S - ONE","++updated":"2019-07-04
        00:00:00","Admin Email":"Please query the RDDS service of the Registrar of
        Record identified in this output for information on how to contact the Registrant,
        Admin, or Tech contact of the queried domain name.","Creation Date":"2015-05-20T12:15:44Z","DNSSEC":"signedDelegation","Domain
        Name":"one.one","Domain Status":"ok https:\/\/icann.org\/eppRegistry Registrant
        ID:","Name Server":["a.b-one-dns.net","b.b-one-dns.net"],"Registrant Country":"dk","Registrant
        Email":"Please query the RDDS service of the Registrar of Record identified
        in this output for information on how to contact the Registrant, Admin, or
        Tech contact of the queried domain name.","Registrant Organization":"One.com
        A\/S","Registrar":"One.com A\/S - ONE","Registrar IANA ID":"9998","Registry
        Domain ID":"DB8D9612E99A84235AF9133FBE4EB27D5-ARI","Registry Expiry Date":"2020-05-20T12:15:44Z","Tech
        Email":"Please query the RDDS service of the Registrar of Record identified
        in this output for information on how to contact the Registrant, Admin, or
        Tech contact of the queried domain name.","The above WHOIS results have been
        redacted to remove potential personal data. The full WHOIS output may be available
        to individuals and organisations with a legitimate interest in accessing this
        data not outweighed by the fundamental privacy rights of the data subject.
        To find out more, or to make a request for access, please visit":"RDDSrequest.nic.one.","Updated
        Date":"2019-07-04T12:15:45Z","URL of the ICANN Whois Inaccuracy Complaint
        Form":"https:\/\/www.icann.org\/wicf\/"}},"umbrella_rank":131771,"umbrella_domain":"one.one.one.one"}'
  recorded_at: Sun, 17 Nov 2019 00:54:48 GMT
- request:
    method: get
    uri: https://pulsedive.com/api/info.php?get=properties&iid=7274049&key=<PULSEDIVE_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"dns":[{"pid":14739687,"stamp_seen":"2019-11-15 23:40:27","name":"A","value":"1.1.1.1","latest":1},{"pid":36362828,"stamp_seen":"2019-11-15
        23:40:27","name":"A","value":"1.0.0.1","latest":1},{"pid":36333905,"stamp_seen":"2019-11-15
        23:40:27","name":"AAAA","value":"2606:4700:4700::1001","latest":1},{"pid":36362829,"stamp_seen":"2019-11-15
        23:40:27","name":"AAAA","value":"2606:4700:4700::1111","latest":1}],"geo":[{"pid":27558,"stamp_seen":"2019-11-15
        23:40:28","name":"country","value":"Denmark","latest":1},{"pid":35668012,"stamp_seen":"2019-11-15
        23:40[...]
