---
http_interactions:
- request:
    method: get
    uri: https://www.circl.lu/v2pssl/cquery/7c552ab044c76d1df4f5ddf358807bfdcd07fa57
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<CIRCL_AUTH>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"7c76023728eef18e70b199228bfcd7e816aa1189"'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"seen": ["149.13.33.13", "149.13.33.11", "149.13.33.4", "149.13.33.15",
        "149.13.33.9"], "hits": 5, "certificate": "7c552ab044c76d1df4f5ddf358807bfdcd07fa57"}'
  recorded_at: Tue, 01 Oct 2019 11:51:28 GMT
recorded_with: VCR 5.0.0
