---
http_interactions:
- request:
    method: get
    uri: https://dnstwister.report/api/fuzz/6578616d706c652e636f6d
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"domain":"example.com","domain_as_hexadecimal":"6578616d706c652e636f6d","fuzzy_domains":[{"domain":"example.com","domain_as_hexadecimal":"6578616d706c652e636f6d","fuzz_url":"http://dnstwister.report/api/fuzz/6578616d706c652e636f6d","fuzzer":"Original*","parked_score_url":"http://dnstwister.report/api/parked/6578616d706c652e636f6d","resolve_ip_url":"http://dnstwister.report/api/ip/6578616d706c652e636f6d"},{"domain":"examplea.com","domain_as_hexadecimal":"6578616d706c65612e636f6d","fuzz_url":"http://dnstwister.report/api/fuzz/6578616d706c65612e636f6d","fuzzer":"Addition","parked_score_url":"http://dnstwister.report/api/parked/6578616d706c65612e636f6d","resolve_ip_url":"http://dnstwister.report/api/ip/6578616d706c65612e636f6d"},{"domain":"exampleb.com","domain_as_hexadecimal":"6578616d706c65622e636f6d","fuzz_url":"http://dnstwister.report/ap[...]
