---
http_interactions:
- request:
    method: post
    uri: https://threatfox-api.abuse.ch/api/v1/
    body:
      encoding: UTF-8
      string: '{"query":"get_iocs","days":1}'
    headers:
      Api-Key:
      - "<THREATFOX_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
            "query_status": "ok",
            "data": [
                {
                    "id": "290528",
                    "ioc": "6f8a836d10eada55bb1d3901ceb5b97711afc9f7018e3bd0f0a8e77521f18e5b",
                    "threat_type": "payload",
                    "threat_type_desc": "Indicator that identifies a malware sample (payload)",
                    "ioc_type": "sha256_hash",
                    "ioc_type_desc": "SHA256 hash of a malware sample (payload)",
                    "malware": "win.cloudeye",
                    "malware_printable": "CloudEyE",
                    "malware_alias": "GuLoader,vbdropper",
                    "malware_malpedia": "https:\/\/malpedia.caad.fkie.fraunhofer.de\/details\/win.cloudeye",
                    "confidence_level": 50,
                    "first_seen": "2022-01-02 01:44:00 UTC",
                    "last_seen": null,
                    "reference": "https:\/\/twitter.com\/RedBeardIOCs\/status\/1477455575063617536",
                    "reporter": "Virus_Deck",
                    "tags": null
                },
                {
                    "id": "290529",
                    "ioc": "a16d035ca37dbd7ab34c856f4cdf96a9898dcebba08c5801c99f3d3100ae6b3f",
                    "threat_type": "payload",
                    "threat_type_desc": "Indicator that identifies a malware sample (payload)",
                    "ioc_type": "sha256_hash",
                    "ioc_type_desc": "SHA256 hash of a malware sample (payload)",
                    "malware": "win.cloudeye",
        [...]
