---
http_interactions:
- request:
    method: post
    uri: https://api.securitytrails.com/v1/domains/list
    body:
      encoding: UTF-8
      string: '{"filter":{"ipv4":"89.35.39.84"}}'
    headers:
      Apikey:
      - "<SECURITYTRAILS_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit-Second:
      - '5'
      X-Ratelimit-Remaining-Second:
      - '4'
    body:
      encoding: UTF-8
      string: |-
        {
          "records": [
            {
              "whois": {
                "registrar": null,
                "expiresDate": null,
                "createdDate": null
              },
              "mail_provider": [],
              "hostname": "jppost-bto.top",
              "host_provider": [
                "Parfumuri Femei.com SRL"
              ],
              "computed": {
                "company_name": null
              },
              "alexa_rank": null
            }
          ],
          "record_count": 1,
          "meta": {
            "total_pages": 1,
            "query": "ipv4 = '89.35.39.84'",
            "page": 1,
            "max_page": 1
          },
          "endpoint": "/v1/domains/list"
        }
  recorded_at: Wed, 02 Oct 2019 23:28:28 GMT
recorded_with: VCR 5.0.0
