---
http_interactions:
- request:
    method: get
    uri: https://dns.google/resolve?name=example.com&type=A
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"Status":0,"TC":false,"RD":true,"RA":true,"AD":true,"CD":false,"Question":[{"name":"example.com.","type":1}],"Answer":[{"name":"example.com.","type":1,"TTL":13931,"data":"93.184.216.34"}]}'
  recorded_at: Sat, 11 Feb 2023 07:09:43 GMT
- request:
    method: get
    uri: https://dns.google/resolve?name=example.com&type=AAAA
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"Status":0,"TC":false,"RD":true,"RA":true,"AD":true,"CD":false,"Question":[{"name":"example.com.","type":28}],"Answer":[{"name":"example.com.","type":28,"TTL":19385,"data":"2606:2800:220:1:248:1893:25c8:1946"}]}'
  recorded_at: Sat, 11 Feb 2023 07:09:43 GMT
- request:
    method: get
    uri: https://dns.google/resolve?name=example.com&type=CNAME
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"Status":0,"TC":false,"RD":true,"RA":true,"AD":true,"CD":false,"Question":[{"name":"example.com.","type":5}],"Authority":[{"name":"example.com.","type":6,"TTL":1064,"data":"ns.icann.org.
        noc.dns.icann.org. 2022091205 7200 3600 1209600 3600"}]}'
  recorded_at: Sat, 11 Feb 2023 07:09:43 GMT
- request:
    method: get
    uri: https://dns.google/resolve?name=example.com&type=TXT
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"Status":0,"TC":false,"RD":true,"RA":true,"AD":true,"CD":false,"Question":[{"name":"example.com.","type":16}],"Answer":[{"name":"example.com.","type":16,"TTL":19889,"data":"v=spf1
        -all"},{"name":"example.com.","type":16,"TTL":19889,"data":"wgyf8z8cgvm2qmxpnbnldrcltvk4xqfn"}]}'
  recorded_at: Sat, 11 Feb 2023 07:09:44 GMT
- request:
    method: get
    uri: https://dns.google/resolve?name=example.com&type=NS
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"Status":0,"TC":false,"RD":true,"RA":true,"AD":true,"CD":false,"Question":[{"name":"example.com.","type":2}],"Answer":[{"name":"example.com.","type":2,"TTL":6944,"data":"a.iana-servers.net."},{"name":"example.com.","type":2,"TTL":6944,"data":"b.iana-servers.net."}]}'
  recorded_at: Sat, 11 Feb 2023 07:09:44 GMT
- request:
    method: get
    uri: https://internetdb.shodan.io/1.1.1.1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Last-Modified:
      - Fri, 10 Feb 2023 18:26:26 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"cpes":[],"hostnames":["one.one.one.one"],"ip":"1.1.1.1","ports":[53,80,443,2082,2083,2086,2087,8080,8443,8880],"tags":[],"vulns":[]}'
  recorded_at: Sat, 11 Feb 2023 07:09:44 GMT
recorded_with: VCR 6.1.0
