---
http_interactions:
- request:
    method: get
    uri: https://otx.alienvault.com/api/v1/indicators/domain/jppost-tu.top/passive_dns
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Otx-Api-Key:
      - "<OTX_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Otx-Active:
      - '1'
    body:
      encoding: ASCII-8BIT
      string: '{"passive_dns": [{"flag_url": "assets/images/ro.png", "record_type":
        "A", "last": "2019-09-04T18:16:07+00:00", "flag_title": "Romania", "address":
        "193.148.69.37", "indicator_link": "/indicator/domain/jppost-tu.top", "hostname":
        "jppost-tu.top", "asset_type": "domain", "first": "2019-09-04T05:32:29+00:00"},
        {"flag_url": "assets/images/ro.png", "record_type": "A", "last": "2019-09-02T01:30:07+00:00",
        "flag_title": "Romania", "address": "89.35.39.84", "indicator_link": "/indicator/domain/jppost-tu.top",
        "hostname": "jppost-tu.top", "asset_type": "domain", "first": "2019-09-02T01:30:07+00:00"},
        {"flag_url": "assets/images/ro.png", "record_type": "A", "last": "2019-08-31T07:14:45+00:00",
        "flag_title": "Romania", "address": "193.148.69.230", "indicator_link": "/indicator/domain/jppost-tu.top",
        "hostname": "jppost-tu.top", "asset_type": "domain", "first": "2019-08-31T07:14:45+00:00"},
        {"flag_url": "assets/images/fr.png", "record_type": "A", "last": "2019-07-02T14:17:10+00:00",
        "flag_title": "France", "address": "51.68.251.30", "indicator_link": "/indicator/domain/jppost-tu.top",
        "hostname": "jppost-tu.top", "asset_type": "domain", "first": "2019-07-02T14:17:10+00:00"}],
        "count": 4}'
  recorded_at: Sat, 01 Aug 2020 00:14:53 GMT
recorded_with: VCR 6.0.0
