---
http_interactions:
- request:
    method: get
    uri: https://internetdb.shodan.io/1.1.1.1
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Last-Modified:
      - Fri, 27 Oct 2023 09:48:00 GMT
    body:
      encoding: UTF-8
      string: '{"cpes":[],"hostnames":["one.one.one.one"],"ip":"1.1.1.1","ports":[53,443],"tags":[],"vulns":[]}'
  recorded_at: Sun, 29 Oct 2023 00:55:27 GMT
[...]
- request:
    method: get
    uri: https://internetdb.shodan.io/1.1.1.1
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Last-Modified:
      - Fri, 27 Oct 2023 09:48:00 GMT
    body:
      encoding: UTF-8
      string: '{"cpes":[],"hostnames":["one.one.one.one"],"ip":"1.1.1.1","ports":[53,443],"tags":[],"vulns":[]}'
  recorded_at: Sun, 29 Oct 2023 00:55:27 GMT
recorded_with: VCR 6.2.0
