---
http_interactions:
- request:
    method: get
    uri: https://internetdb.shodan.io/1.1.1.1
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Last-Modified:
      - Wed, 22 Nov 2023 20:49:13 GMT
    body:
      encoding: UTF-8
      string: '{"cpes":[],"hostnames":["one.one.one.one"],"ip":"1.1.1.1","ports":[53,80,443,2082,2086,8443],"tags":[],"vulns":[]}'
  recorded_at: Fri, 24 Nov 2023 00:22:33 GMT
recorded_with: VCR 6.2.0
