name: Publish docs

on:
  workflow_dispatch:
  release:
    types: ["created"]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - name: Set up Python
        uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
        with:
          python-version: 3.11
          cache: pip
      - name: Install Python dependencies
        run: pip install -r requirements.txt
      - name: Build and publish
        run: mkdocs gh-deploy --force
