name: Release gem

on:
  release:
    types: ["created"]

jobs:
  gem-release:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      id-token: write
    steps:
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - name: Set up Ruby
        uses: ruby/setup-ruby@8aeb6ff8030dd539317f8e1769a044873b56ea71 # v1.268.0
        with:
          ruby-version: 3.3
          bundler: latest
          bundler-cache: true
      - name: Set up Node.js
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          node-version: 22
          cache: npm
          cache-dependency-path: frontend/package-lock.json
      - name: Configure NPM
        # Disable audit to improve the build performance
        run: npm set audit false
      - uses: rubygems/release-gem@1c162a739e8b4cb21a676e97b087e8268d8fc40b # v1.1.2

  image-release:
    runs-on: ubuntu-latest
    needs: gem-release
    steps:
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - name: Login to GHCR
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Strip v prefix
        run: |
          TAG="${{ github.event.release.tag_name }}"
          echo "VERSION=${TAG#v}" >> "$GITHUB_ENV"
      - name: Build Docker image
        run: |
          docker build . \
          --tag "ghcr.io/$GITHUB_ACTOR/mihari:latest" \
          --tag "ghcr.io/$GITHUB_ACTOR/mihari:${{ env.VERSION }}" \
          --build-arg VERSION=${{ env.VERSION }}
      - name: Push Docker image
        run: |
          docker push "ghcr.io/$GITHUB_ACTOR/mihari:latest"
          docker push "ghcr.io/$GITHUB_ACTOR/mihari:${{ env.VERSION }}"
