---
http_interactions:
- request:
    method: get
    uri: https://api.shodan.io/shodan/host/search?facets=&key=<SHODAN_API_KEY>&minify=true&page=1&query=dev.min.js
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Hacker:
      - If you're reading this then you should check out careers.shodan.io :)
    body:
      encoding: ASCII-8BIT
      string: '{"matches": [{"product": "nginx", "hash": 2061835075, "ip": 3663394888,
        "isp": "China Telecom", "transport": "tcp", "cpe": ["cpe:/a:igor_sysoev:nginx"],
        "data": "HTTP/1.1 200 OK\r\nServer: nginx\r\nDate: Thu, 18 Apr 2019 05:12:52
        GMT\r\nContent-Type: text/html\r\nContent-Length: 2093\r\nLast-Modified: Fri,
        29 Mar 2019 07:53:53 GMT\r\nConnection: keep-alive\r\nETag: \"5c9dcf11-82d\"\r\nAccept-Ranges:
        bytes\r\n\r\n<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n    <meta charset=\"UTF-8\">\n    <title>\u767b\u9646</title>\n    <link
        rel=\"stylesheet\" href=\"css/login.css\">\n    <meta name=\"viewport\" content=\"width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no\"
        />\n    <meta http-equiv=\"X-UA-Compatible\" content=\"ie=edge\">\n    <script
        type=\"text/javascript\" src=\"js/rem.js\"></script>\n    <link rel=\"stylesheet\"
        href=\"font-awesome-4.7.0/css/font-awesome.min.css\">\n</head>\n<body>\n<article
        class=\"myArticle\">\n    <div class=\"header\">\n        <img src=\"images/logo.png\"
        class=\"logo\"/>\n    </div>\n    <div class=\"connet\">\n        <div>\n            <span
        class=\"fa fa-user\" style=\"font-size: 0.8rem\"></span>\n            <input
        type=\"text\" id=\"account\" class=\"int\" title=\"\u8bf7\u8f93\u5165\u8d26\u53f7\"
        >\n        </div>\n        <div class=\"paw\">\n            <span class=\"fa
        fa-lock\" style=\"font-size: 0.8rem\"></span>\n            <input type=\"password\"
        id=\"password\" class=\"int\" value=\"\" title=\"\u8bf7\u8f93\u5165\u5bc6\u7801\">\n        </div>\n    </div>\n    <div
        class=\"login\">\n        <button class=\"btn\">\u767b\u5f55</button>\n    </div>\n    <!--<button
        id=\"Btn\">\u6309\u94ae</button>-->\n    <!--<p class=\"forget\">\n        <a
        href=\"\">\n            \u5fd8\u8bb0\u5bc6\u7801\uff1f\n        </a>\n    </p>-->\n</article>\n</body>\n<script
        src=\"js/jquery-2.2.3.min.js\"></script>\n<script src=\"lib/sweetalert-dev.min.js\"></script>\n<link
        rel=\"stylesheet\" href=\"css/sweetalert.css\">\n<script src=\"lib/jquery.cookie.js\"></script>\n<script
        src=\"js/common.js\"></script>\n<script src=\"js/login.js\"></script>\n</html>\n<script>\n    $(function
        () {\n        $(\"#Btn\").on(\"click\",function () {\n            $.ajax({\n                url:
        sgn.appUrl + \"/track/updateApk\",\n                type: \"POST\",\n                data:
        JSON.stringify({versionCode:\"1.0\"}),\n                contentType: \"application/json\",\n                success:
        function (res) {\n\n                    console.log(res);\n                    //
        window.location.href=res.data.path\n                },\n                error(err){\n                    sgn.sissionErr(data)\n                }\n            })\n        })\n    })\n</script>\n",
        "asn": "AS4134", "port": 8081, "hostnames": [], "location": {"city": null,
        "region_code": "04", "area_code": null, "longitude": 118.77780000000001, "country_code3":
        "CHN", "latitude": 32.0617, "postal_code": null, "dma_code": null, "country_code":
        "CN", "country_name": "China"}, "timestamp": "2019-04-18T05:09:54.128510",
        "domains": [], "org": "China Telecom", "os": null, "_shodan": {"crawler":
        "545144fc95e7a7ef13ece5dbceb98ee386b37950", "ptr": true, "id": "2c986dbc-b310-4b19-8b2a-af863dc5a72f",
        "module": "https-simple-new", "options": {}}, "ip_str": "218.90.248.72"},
        {"hash": -2128621643, "ip": 3178333006, "isp": "Telecall Telecomunicacoes",
        "transport": "tcp", "data": "HTTP/1.1 200 OK\r\nX-Powered-By: Express\r\nAccept-Ranges:
        bytes\r\nCache-Control: public, max-age=0\r\nLast-Modified: Wed, 03 Apr 2019
        22:43:34 GMT\r\nETag: W/\"f3b-169e55f300d\"\r\nContent-Type: text/html; charset=UTF-8\r\nContent-Length:
        3899\r\nDate: Mon, 15 Apr 2019 00:22:19 GMT\r\nConnection: keep-alive\r\n\r\n<html
        xmln[...]
